[2016-07-15 00:28] bitwalker opened #1 "Test suite"
Need a solid test suite which can be run in CI, with coverage reporting.

Tests should run/work on Erlang 18.3 and 19.x, using Elixir 1.3+
- [x] Utility tests
- [x] Appup tests
- [x] Integration tests for standard apps
- [ ] Integration tests for umbrella apps

[2016-07-15 00:30] bitwalker opened #2 "Documentation"
Need useful, complete documentation

- [ ] Getting started guide
- [ ] Glossary of terminology used when discussing this project and releases in general
- [ ] Walkthrough of a complete end-to-end deployment of a Phoenix application, with modified assets
- [ ] Document how to do Ecto migrations, or other one time operations when upgrading/downgrading
- [ ] Document known issues

[2016-07-15 00:33] bitwalker opened #3 "Embedded read-only filesystem support"
Review documentation on read-only filesystems [here](http://erlang.org/doc/design_principles/release_structure.html)

- Make sure applications can be built to target a RO filesystem
- Make sure applications can be upgraded/downgraded on RO filesystems (if possible)

[2016-07-15 00:34] bitwalker opened #4 "Finish implementing upgrades/downgrades"
Appup generation is complete, just need to add in logic for detecting upgrade scenarios and generate appups/relups appropriately.

[2016-07-17 19:38] #4 closed

[2016-07-17 19:39] bitwalker commented on #3
Waiting to hear back from the Nerves team on what we can do to help

[2016-07-18 07:07] bitwalker opened #5 "Pass command line args to start command"
See bitwalker/exrm#331

[2016-07-18 18:25] typicalpixel opened #6 "mix release --env flag problem"
To reproduce..

`mix phoenix.new sample_app`
`mix.exs << {:distillery, "~> 0.6"}`
`mix deps.get`
`mix release.init`

Add staging environment into `rel/config.exs`
[code]
[code]

If you change `default_environment: :default` to `default_environment: :staging`, it will work.

[2016-07-18 18:29] #6 closed

[2016-07-18 18:29] bitwalker commented on #6
I'd just go ahead and use master for now rather than the hex package ;). Once we've worked out the kinks I'll push a new release. Anyway, this issue is now fixed.

[2016-07-18 18:52] typicalpixel commented on #6
Updated to master.

[code]

`mix release` is the same result.

[2016-07-18 23:11] bitwalker commented on #3
/cc @fhunleth @mobileoverlord

[2016-07-18 23:13] bitwalker opened #7 "Add windows scripts"
Need to add Windows support. Should just be a matter of porting the relx batch files, though I'd like to consider porting them to powershell instead.

/cc @OnorioCatenacci

[2016-07-18 23:30] OnorioCatenacci commented on #7
I'll take a look at this Paul!

On Mon, Jul 18, 2016, 7:13 PM Paul Schoenfelder <notifications@github.com>
wrote:

[2016-07-19 00:04] mobileoverlord commented on #3
@bitwalker Thanks for the link and consideration. I'll start digesting it and assembling questions / topics we can work through and get back to you soon. 😄

[2016-07-19 00:18] bitwalker commented on #7
@OnorioCatenacci Awesome! I added the raw relx templates (only modified slightly to use EEx syntax instead of mustache). They aren't yet added to the release as part of the build, but that's pretty easy to add, either from your own app as an overlay, or to distillery itself. Once you have thoughts on how you want to proceed, we can go from there :)

[2016-07-19 00:19] bitwalker commented on #3
No problem :). From my explorations of Nerves itself, it seems like there may not be much we need to do, but I don't know how much of that was due to how exrm has worked up until now. If there are better ways to use releases on embedded hardware, I'd like to make sure those facilities are baked in to distillery.

[2016-07-21 15:39] aaronjensen opened #8 "Undefined applications"
Here are two applications we use that aren't working w/ distillery currently

https://github.com/aaronjensen/distillery_repro

[code]

[2016-07-21 19:41] lee-reinhardt commented on #2
I want to say thank you for giving umbrella apps first-class consideration here. We use them frequently, and while we have releases working with exrm it was a bit of trial and error :)

[2016-07-21 19:58] bitwalker commented on #8
Thanks for the repo! I'll take a look now and follow up.

[2016-07-21 19:59] bitwalker commented on #2
@lee-reinhardt For sure, I've started to use umbrellas for a few things, and it was a pain point for me as well, so I made them a priority this time around :)

[2016-07-21 20:13] #8 closed

[2016-07-21 20:14] bitwalker commented on #8
Found the source of the problem, I can build a release of that repo now :)

[2016-07-22 14:24] michalmuskala opened #9 "Make plugins configurable per-release"
Currently all plugins are global and there's no way to disable them. An example use case is building a `.deb` package for the production release, but skipping this for the dev one.

The new configuration features in `rel/config.exs` are a great place to accommodate enabling plugins explicitly. Not only this goes with elixirs philosophy of `explicit > implicit`, but this would also allow to remove

[2016-07-22 16:13] kamilchm opened #10 "Command-line app release?"
Any easy way to release command line app like described in https://github.com/bitwalker/exrm/pull/37?

[2016-07-22 18:11] #5 closed

[2016-07-22 18:13] bitwalker commented on #9
I actually really really like this idea. Consider it done. The following is how I plan to implement it:

[code]

The `plugin` macro will work in both `environment` and `release` blocks.

[2016-07-22 19:22] bitwalker commented on #9
Done and released in 0.8!

[2016-07-22 19:22] #9 closed

[2016-07-22 19:56] michalmuskala commented on #9
Thank you!

[2016-07-22 20:11] bitwalker commented on #10
There is a path for it now yes, but probably still nothing quite like what @alco wanted initially.

Currently, you would implement your CLI commands using the `commands` setting. You can read more about it [here](https://hexdocs.pm/distillery/custom-commands.html), but here's a quick example:

[code]

[code]

The `run` command just evals an Elixir code string and prints the result. Running the `ru

[2016-07-22 21:02] michalmuskala opened #11 "Fail to build an archive with a path in include_erts"
When building with a config of:

[code]

According to the docs this should be supported, unfortunately it crashes when trying to build the tarball:
[code]

[2016-07-22 21:32] michalmuskala opened #12 "Consider adding runtime_tools to the generated config.exs applications"
Runtime tools are important if anyone wants to use most of the awesome tooling erlang gives us for debugging running systems. With the `applications` configuration in releases I feel like we have a perfect place to define this - it doesn't really make sense for the application itself to depend on the `runtime_tools`. I think it would be reasonable to include the application by default.

It's relat

[2016-07-28 19:40] brainlid opened #18 "Fails to run release in foreground"
I can successfully build a release, start it and use a Phoenix application on my computer. However, when I try to run the "foreground" script it fails. I'm wanting to run the script in a docker container, but for now everything is on my development machine while I try to just get it working.

[code]

As I said, the release is working, I can start it, interact with the application (Phoenix) and sto

[2016-07-29 15:32] felipesere opened #20 "include_erts: false may not really be working?"
Currently I am using this config
[code]

to create a release on my Mac that I then copy into a Docker container running Linux.
I was expecting `incude_erts: false` to simply not include any erts in my release and use whatever is installed on my container.

My release fails to boot because it can't find erts-8.0.2 in the container.
This is correct, as I currently only have 8.0.1 in there.

This pro

[2016-07-29 17:14] brainlid commented on #18
This issue is fixed by PR in #19 (https://github.com/bitwalker/distillery/pull/19). I tested it and verified that it fixes the issue and runs "foreground" correctly.

Please review/apply his PR.

[2016-08-01 15:27] shanesveller commented on #18
If you are running on a Debian derivative, this is likely because of the default behavior of replacing upstream `sh` with `dash`, which implements `trap` differently. In my environment (Docker using the official `elixir:1.3.1` image), I was able to correct this by reverting to the original `sh`:
[code]

[2016-08-01 16:44] brainlid commented on #18
Thanks, this worked for solving my problem.

[2016-08-01 16:44] #18 closed

[2016-08-02 05:32] vishnevskiy opened #21 "Include Consolidated BEAM Files?"
We just did a release and noticed the consolidated files were not included in the archive despite being copied to the release. I couldn't find any code that actually handles this and patched it so we can re-release. I am just wonder if we are doing something wrong or is there an oversight?

https://github.com/hammerandchisel/distillery/commit/fc4b92ce1dc9a03eac85bf49340b97ddd043d130

[2016-08-03 15:14] lajunta opened #24 "how to start phoenix.server"
I release phoenix with distillery, but how to start phoenix.server ?

[2016-08-03 15:29] #24 closed

[2016-08-05 15:47] tony612 opened #25 "Got an error when opening console in a dev build"
When I opened the console after building the dev release(`$ mix release`), I got and error:
[code]

It's a Phoenix project with code_reloader on in dev env.

[2016-08-05 16:40] akeating commented on #25
try adding `:mix` to your `mix.exs` application list.

[2016-08-08 12:53] ftaebi opened #29 "Passing arguments to rpc functions"
bitwalker, how are function arguments supposed to be passed to rpc.
Using exrm i can do

[code]

or

[code]

and it works as expected. But it seems like this is not the correct way with distillery releases..

I couldn't find any tests or examples.

[2016-08-08 12:59] petrikero opened #30 "Foreground mode doesn't work on Ubuntu"
When trying to run the generated release on my Ubuntu machine, the release won't start and gives the error "trap: SIGUSR1: bad trap".

I believe this is due to the trap command being give the signals in the form SIGUSR1 / SIGUSR2, which dash (the Ubuntu default shell) doesn't accept. It wants them to be without the SIG prefix: USR1 and USR2.

Apparently, the correct form is to provide the signals

[2016-08-08 18:39] supernullset commented on #2
@bitwalker I would be happy to help with `Walkthrough of a complete end-to-end deployment/upgrade of a Phoenix application, with modified assets` As its something that I need to do for a personal project. If you would like the help, I am going to be moving my project from exrm to distillery. Is it worth breaking this out into another issue to discuss what you would like for the documentation to re

[2016-08-08 21:31] bitwalker commented on #2
@supernullset That's awesome! Thanks for offering! Feel free to break it out into a separate issue, I'm using this one as more of a general umbrella under which documentation things can be tracked, but for individual tasks it might get a bit noisy.

Things to keep in mind/general advice:

- I'd like it to be a reflection of common needs in Phoenix, one of the big ones is handling updated assets (j

[2016-08-08 21:31] #12 closed

[2016-08-08 21:40] bitwalker commented on #11
Fixed with your PR. Thanks again!

[2016-08-08 21:40] #11 closed

[2016-08-08 21:49] supernullset commented on #2
@bitwalker Much obliged! I'll get started and check in with you as needed. I'm aiming for Monday 15th for a first draft. I want to have some time for feedback before Elixirconf!

[2016-08-08 22:13] #20 closed

[2016-08-08 22:14] bitwalker commented on #20
@felipesere I pushed a tentative solution to this. It appears to work for me, but I'd like to hear from you before I push a release.

[2016-08-08 22:15] bitwalker commented on #21
I could've sworn I did this, but sure enough, it's not there. Could you open a PR with your changes?

[2016-08-08 22:16] shanesveller commented on #30
@petrikero there is related information in #18 and #19.

[2016-08-08 22:17] bitwalker commented on #25
@tony612 @akeating In general I would avoid including `:mix`, but the problem here is that the code reloader is not intended for use within releases. You're better off either building your release with `MIX_ENV=prod mix release --env=dev`, or disabling the code reloader temporarily while doing development against the release.

[2016-08-08 22:17] #25 closed

[2016-08-08 22:24] bitwalker commented on #29
It looks like the handling of arguments isn't great in some cases. You don't need the trailing `.` though, that might be messing with it. I still need to wrap these things in tests.

In general I would recommend the use of `eval` instead, it's a more natural way of expressing the calls. To use your examples:

[code]

[2016-08-08 22:26] bitwalker commented on #30
I'm going to do some testing on #19, and if it is more portable than what's there now, I'll merge the changes for the signal names manually.

[2016-08-08 22:26] #30 closed

[2016-08-09 02:23] tony612 commented on #25
@bitwalker Got it. Thanks!

[2016-08-09 15:11] matteosister commented on #2
@bitwalker we are currently using distillery to deploy to our infrastructure. It would be really great if you could just give us some hint about calling mix tasks in "compiled" environment. We need to execute "ecto.migrate"

[2016-08-10 14:28] rawsyntax opened #34 "release to hex"
Noticed https://github.com/bitwalker/distillery/releases/tag/0.9.1 is available , but https://hex.pm/packages/distillery does not have `0.9.1`

[2016-08-10 18:00] bitwalker commented on #34
Pushing 0.9.2 right now :)

[2016-08-10 18:00] #34 closed

[2016-08-10 18:01] bitwalker commented on #21
Closing this since #33 was merged.

[2016-08-10 18:01] #21 closed

[2016-08-11 12:21] LevelbossMike commented on #2
@matteosister You can create a `post_start`-hook and execute that whenever the application starts up:

[code]
You can create that Release.Task in `lib`:

[code]

via http://blog.plataformatec.com.br/2016/04/running-migration-in-an-exrm-release/

and in `rel/config.exs`

[code]

via # https://elixirforum.com/t/deploy-sometimes-complaining-about-node-not-running/1232/3

[2016-08-12 04:10] skosch opened #37 "Connection refused/port not open in release"
Thanks for a wonderful tool! :)

This may or may not be related to distillery, but I'm not sure where else to ask: when I run `MIX_ENV=prod mix phoenix.server` everything runs fine; but when I run `MIX_ENV=prod mix release` it just refuses to open my (hardcoded) port 3000:
[code]
Here is how I hardcode my port:
[code]
Is there something wrong with my configuration? Could this be due to distillery?

[2016-08-12 09:50] matteosister commented on #2
@LevelbossMike many thanks for the advice!!! Works great. We find that the ```sleep 1``` was not reliable on our servers. So we ended up with this

[code]

Thanks again!

[2016-08-12 16:35] slashmili opened #38 "Dependencies are not included if not specified in applications"
I have an umbrella scenario with a bit different approach(the app names are here only to make the point)

* `MyDistributedCache` deploys in multiple machine and it uses pg2 for registering proces group
* `MyAwesomeApp` deploys in one machine and uses `MyDistributedCache`

So in `my_distributed_cache` I create a global process group with name `:my_distributed_cache` and I used it from `:my_awesome_

[2016-08-12 16:56] bitwalker commented on #2
@matteosister you should be able to just run `nodetool ping` instead of `ERL_EPMD_PORT=40006 bin/my_app ping`, since they ultimately do the same thing, and you can avoid having to set the `epmd` port (I wouldn't expect you to have to do that anyway, but I suppose there might be conflicts when running the boot script from within the boot script environment).

[2016-08-12 16:59] bitwalker commented on #38
This should definitely be supported, I'll try and reproduce with a test project and figure out what's going on. In the short term, in your `rel/config.exs`, you can do the following:

[code]

This will add `my_distributed_cache` to the release, but will only load the application, not start it.

[2016-08-12 17:04] bitwalker commented on #37
Could you dump the result of `Application.get_env(:app, App.Endpoint)`? It doesn't look like your application is actually listening on port 3000, but it's not trying and failing, as it would cause the release to crash for sure, which indicates that it's either binding to a random ephemeral port, or your endpoint is not starting at all. Seeing what's in the config should help.

It might also be wor

[2016-08-12 17:14] hisea opened #39 "Archiver failed to make tar"
I'm trying to make a prod release but it failed to make the tar:

[code]

I actually dont need the tar file but didn't find anything in the doc to turn this off.

[2016-08-12 17:15] hisea commented on #39
I tried on Mac El Capitan but same result in a ubuntu docker env. maybe I'm missing some system libs?

[2016-08-12 17:15] bitwalker commented on #39
You can skip the archival step with `mix release --no-tar`. This error is caused due to filenames exceeding the length limit that systools allows.

[2016-08-12 17:18] bitwalker commented on #39
I still have it on my list of things to look into, but this may be a hard limit imposed by `erl_tar`, at least until the Erlang/OTP team addresses it, if it's indeed something which can be addressed. Unfortunately I'm not sure that it's something I can work around, but like I said, I still have to look into how it might be fixed.

[2016-08-12 17:21] hisea commented on #39
Thanks @bitwalker for your fast response.

Release builds fine now
I got another rookie question though, It looks like the deps are not built in with the release.

if i run the release in console or foreground, I get an module not found error:
`function Guardian.Plug.VerifySession.call/2 is undefined (module Guardian.Plug.VerifySession is not available)`

it fix this error if I include guardian in

[2016-08-12 17:29] bitwalker commented on #39
Could you also post your `mix.exs`? This may be related to another bug which is open, and if so I'll close this one and update the other issue. Distillery should be handling adding your deps to the release, whether they are in `applications` or not, but it's possible something is getting missed.

[2016-08-12 17:31] hisea commented on #39
sure, here it is:

[code]

[2016-08-12 17:35] bitwalker commented on #39
Indeed it does look like this is an issue. I'll close this for now, and update the other ticket. In the meantime, either add applications to your applications list, or:

[code]

I'll be pushing a fix for this today.

[2016-08-12 17:35] #39 closed

[2016-08-12 17:36] bitwalker commented on #38
Looks like this issue affects all project types. I'm working on a fix and will push a new release today when it's ready.

[2016-08-12 17:36] hisea commented on #39
Thanks @bitwalker

[2016-08-12 17:37] bitwalker commented on #38
@slashmili Could you paste the output of `mix release --verbose`? I'd like to see what applications it's discovering.

[2016-08-12 18:15] slashmili commented on #38
Ok, I spend sometime and found and strange Behavior. The module is included but when I connect from remote_console, it doesn't loaded into shell:

this is output :
[code]

[2016-08-12 18:19] bitwalker commented on #38
Are you sure it's included? Based on the discovered apps which are listed, I don't see anything other than the `myapp` application. If the dependent app was included, it should show up in the list.

As an aside, I found that the assembler was not fetching applications which were not present in the applications list. I'm implementing a fix which will also merge in dependencies for the current Mix e

[2016-08-12 18:21] slashmili commented on #38
Sorry I made a mistake that's why I delete the previous comment.

The problem is still the same:

this is output :
[code]

[2016-08-12 18:50] slashmili commented on #38
I tried `:load` option but I still see `{:mydist, 'mydist', '0.1.0'}` in started app list.

Check it out here: https://github.com/slashmili/distillery-sample

[2016-08-12 18:57] bitwalker commented on #38
@slashmili I pushed a commit to master which should address this. I'll take a look at your test issue, since it sounds like there may be something else going on there. If you could give master a shot and shoot me some feedback, I'd much appreciate it :)

[2016-08-12 20:34] slashmili commented on #38
I pointed to the master:

and I got this error:
[code]

[2016-08-12 20:44] bitwalker commented on #38
Damn, must've missed something for umbrellas, I'll do some followup testing and post back here once I've got it fixed.

[2016-08-12 20:57] bitwalker commented on #38
@slashmili I found the reason why the start type was being ignored, and pushed a new fix to master. I'm not able to reproduce your specific issue, are you able to reproduce it with your `distillery-sample` project?

[2016-08-12 21:31] slashmili commented on #38
I removed the _build directory and everything works fine.

Thanks!

[2016-08-12 21:31] #38 closed

[2016-08-12 21:32] bitwalker commented on #38
Great! Let me know if you run into that again!

[2016-08-13 03:57] skosch commented on #37
Thank you!

[code]
So, nothing. But *then* I tried something else on a whim and found
[code]
... which is strange because I do have in my prod.secret.exs:
[code]
and I know that it reads this, too, because I originally had both the database name and the password wrong and it complained loud and clear. Is that a red herring? Any further ideas?

[2016-08-13 05:13] skosch commented on #37
Never mind what I just wrote: the error described above (Repo configs going missing) only shows on the remote machine (which doesn't have Erlang installed) and *only* when using `remote_console`. When running locally on my laptop, both `get_env` and `ensure_all_started` return the expected results inside `console`, `attach` and `remote_console`. But when running remotely, only `console`/`attach` l

[2016-08-13 13:18] AndrewDryga opened #40 "Any way to bind ENV variable to config without recompiling project?"
Hi guys. Im trying to use ENV variables in release, to make sure that I don’t need to re-deploy everything whenever my config changes (for example, DB password).

I’m using distillery, but it should be much different from exrm), I’m trying following steps:

1. Setup config.exs that looks like this (to try different approaches):
[code]

2. Compile everything
[code]

3. This compiles all source and

[2016-08-13 13:24] AndrewDryga commented on #40
Also I know about conform, but maybe there are some simples solutions to just read ENV vars?

[2016-08-13 13:59] AndrewDryga commented on #40
Problem might be located somewhere here: https://github.com/bitwalker/distillery/blob/master/priv/templates/boot.eex#L196

Original file is also replaced on second run with REPLACE_OS_VARS

[2016-08-13 21:00] bitwalker commented on #37
What's in the list when you run `Application.started_applications()`? I can't shake the feeling that something isn't being started. Could I see your `mix.exs` too? You can strip out anything sensitive, just need the project/application definition primarily.

[2016-08-14 01:48] bitwalker commented on #40
Generally the `{:system, "VAR"}` convention is used with a config wrapper like [this one](https://gist.github.com/bitwalker/a4f73b33aea43951fe19b242d06da7b9), in which case you do not need to use the interpolation syntax and everything works as you'd expect. This is actually the pattern I'd recommend in general for handling configuration, since it works both with regular config and environment con

[2016-08-14 16:32] skosch commented on #37
Sure:
[code]
And the mix file:
[code]

[2016-08-14 16:37] bitwalker commented on #37
Are you able to reproduce with an app you can share with me? Might be as simple as just creating a new app with all the same deps. I'm out of ideas as to what's causing the problem here, but having a repro case will help figure it out. Also, what OS are you building/running the release on?

[2016-08-14 16:39] skosch commented on #37
Both on Ubuntu, 64bit – let me see what I can come up with to share with you. Thanks :)

[2016-08-14 16:41] bitwalker commented on #37
Oh! I forgot one important thing, do you have `server: true` in your endpoint config? Like so:

[code]

That has to be there when running via a release.

[2016-08-14 17:46] skosch commented on #37
Oh. That was it.

Just did some googling and found that this info is buried in http://www.phoenixframework.org/v0.13.1/docs/advanced-deployment – though it's not part of what `mix phoenix.new` puts into the prod config files, for some reason.

Maybe you should highlight this parameter on your "Runtime Configuration" page too, or just set this to true by default when a distillery release is started

[2016-08-14 17:46] #37 closed

[2016-08-14 17:49] bitwalker commented on #37
Yeah I'll find a good place in the docs to reference that guide, and call out that setting in particular. It's been awhile since it came up last, or I would've been faster on the draw connecting the dots. Glad we got it sorted!

[2016-08-15 05:29] omin opened #43 "invalid ERTS path, cannot determine version"
### Steps to reproduce

add `include_erts: "/usr/local/Cellar/erlang/19.0.2/lib/erlang/lib"` to `rel/config.exs`
`$MIX_ENV=prod mix release --env=prod`

### Verbose Logs
[code]

### Description of issue
I expected it to successfully build a release.
I'm using OS X 10.11.6, erts-8.0.2, Elixir 1.3.2.
My `rel/config.exs` file is the default generated by `$mix release.init` except `include_erts: "/usr

[2016-08-15 08:59] omin commented on #43
Some improvement but still not working.
[code]

Also is it recommended to install erlang on the production server or use virtual machine to match the OS? If so, which of the two do you recommend? I actually also had trouble getting this to work on exrm and I ended up installing erlang on the server in the past.

[2016-08-15 18:17] bitwalker commented on #43
I'll address this today, as I was working on some stuff related to this the past few days. What you do is really down to what's the most convenient. In general, my approach is to build releases in Docker, including ERTS, then deploy to the prod host - these days though we are running containers in production, so it's a non-issue. Installing Erlang on the host is probably the easiest, but more risk

[2016-08-15 22:14] #43 closed

[2016-08-15 22:14] bitwalker commented on #43
Found the issue here, could you give master a try and let me know if things are working for you?

[2016-08-15 23:11] omin commented on #43
There was another error on master when I tried yesterday and I'm getting the same thing right now.

[code]

[2016-08-15 23:15] bitwalker commented on #43
Ok I'll take a look as soon as I can, must be related to recent changes

[2016-08-15 23:20] omin commented on #43
No hurry :) I installed Erlang on the host to simplify everything for now.

[2016-08-15 23:38] bitwalker commented on #43
@omin Can you give me access to the repo for this, or to a repo which reproduces the `nil.config` error? I can't reproduce it, but the conditions for it occurring must be very unique based on the code, so if it's happening in master it's definitely a bug, or at least a corner case which should be handled somehow.

[2016-08-15 23:51] bitwalker commented on #43
Correction, found the issue, master will be updated in a few minutes :)

[2016-08-15 23:52] omin commented on #43
Whoa that was quick. I was just creating a new project for ya

[2016-08-15 23:57] bitwalker commented on #43
Give master a try now, should be good to go!

[2016-08-16 00:04] omin commented on #43
Another error :(

[code]

[2016-08-16 00:07] bitwalker commented on #43
Ok, that was another recent change, missing a case clause for deps with options. I pushed a fix to master, can you try again (sorry)?

[2016-08-16 00:19] omin commented on #43
No problem. I wish I could do more to help. This time it worked!

[2016-08-16 00:42] bitwalker commented on #43
Awesome! Thanks for helping me work through this! We've had a few changes recently and your use case actually hit all of the updated code paths haha, so I'm glad we got it sorted!

[2016-08-16 06:43] omin opened #45 "systemd setup?"
ubuntu is recommending systemd instead of upstart now so I was wondering how you would set it up. Does this seem right? https://gist.github.com/KozakIvan/fbc992fb1f864de1b907

[2016-08-16 07:42] omin commented on #45
I'll close this since it's not exactly related but I you have any tips, let me know!

[2016-08-16 07:42] #45 closed

[2016-08-16 09:16] farao opened #46 ""/rel/<projectname>/bin/<projectname> stop" does not work"
Same problem like in exrm: https://github.com/bitwalker/exrm/issues/385
It works neither on my laptop (current arch linux) nor on my server (Debian wheezy).

[2016-08-16 18:23] bitwalker commented on #45
@omin That looks like it should work as a service definition to me, but without testing I couldn't tell you for sure. If you test it out or get a working configuration, could you follow up here so I can add it to the docs?

[2016-08-16 18:53] AndrewDryga commented on #40
Thanks for link. But still is it actually good that each start of application can one-way rewrite `sys.config`?

[2016-08-16 18:59] bitwalker commented on #40
A backup is created, `sys.config.orig` prior to replacement, which can be found in `releases/<version>/`, or if you placed your own `sys.config` in the release root directory (i.e. the directory containing `bin`, `erts-*`, `releases`, etc.), it will be placed there instead.

[2016-08-16 19:01] AndrewDryga commented on #40
Backup file gets replaced each time you start your application, take look at this code: https://github.com/bitwalker/distillery/blob/master/priv/templates/boot.eex#L218

On second start backup file you `mv` current `sys.config` to `sys.config.orig`.

[2016-08-16 19:04] bitwalker commented on #40
Yes, because if you change something in `sys.config` you want a snapshot of the last good config, which is what this does.

[2016-08-16 19:10] AndrewDryga commented on #40
Is there any way to preserve original sys.config? Maybe some flag or hook that can copy it before you replace sys.config?

[2016-08-16 19:12] bitwalker commented on #40
Probably the easiest way is to create a different suffix for snapshots, preserving the original one as .orig, I can look into that

[2016-08-16 20:15] omin commented on #45
@bitwalker will do!

[2016-08-16 20:35] schurig opened #47 "consolidated directory does not exist"
### Steps to reproduce

`mix release`

### Verbose Logs

[code]

### Description of issue

- always fails to build release (also on building server using edeliver)
- the `my_app/_build/dev/consolidated` directory does not exist but distillery [tries to copy it](https://github.com/bitwalker/distillery/blob/29f3785d1ada27276b4ad257afb9e591ca501e9f/lib/mix/lib/releases/assembler.ex#L133)

[2016-08-17 00:10] bitwalker commented on #47
That's strange, could you paste your `mix.exs`, you can strip anything sensitive. My understanding is Mix always consolidates protocols, but if that's not true I can at least conditionally copy the directory instead of assuming it's there. It's odd that it's missing though.

[2016-08-17 07:12] schurig commented on #47
@bitwalker here is the `mix.exs`

[code]

[2016-08-17 14:09] schurig commented on #47
@bitwalker what about this? [5b3b953](https://github.com/schurig/distillery/commit/5b3b95385254c368ea58c96c7caf54c6e1c8b065)

[2016-08-17 20:27] bitwalker commented on #47
@schurig Yes a PR with that fix would be appreciated :)

[2016-08-17 20:46] AndrewDryga opened #48 "Docker -d stops immediately after container starts in foreground mode"
Dockerfile:
[code]

Sample run:
[code]

Is there any catches in distillery that doesn't allow run docker container with elixir in detached mode?

[2016-08-17 20:46] AndrewDryga commented on #48
Kitematics output:
[code]

[2016-08-17 22:09] bitwalker commented on #48
I run releases in Docker in production, so this is definitely not a typical issue, here's what [one of my Dockerfile's usually looks like](https://gist.github.com/bitwalker/6d807905ce9e43065f0f42a86c0f0526). Could you try basing your image off of that one and see if it works?

It's odd that you aren't getting any kind of meaningful error from Erlang. Could you set `TERM=xterm` at the top of your D

[2016-08-17 22:10] bitwalker commented on #46
Can you provide a sample project I can reproduce this with? My own tests have not produced the same issue. I haven't yet tried with an Arch or Debian VM, but I want to make sure this is truly a platform-specific issue and not something more general.

[2016-08-17 22:28] #47 closed

[2016-08-17 23:01] AndrewDryga commented on #48
You can try sample project from here: https://github.com/AndrewDryga/renew_sample
Simply pull and run `./bin/build.sh && ./bin/start.sh`

[2016-08-17 23:04] farao commented on #46
You can try this Dockerfile:
[Dockerfile.zip](https://github.com/bitwalker/distillery/files/423788/Dockerfile.zip)

1) Download Dockerfile in new directory and cd into it
2) sudo docker build ./
3) sudo docker run -t -i <idofdockercontainerfromlastlineoftheoutputofcommand2>
4) (inside docker container) cd signaltower
5) rel/signal_tower/bin/signal_tower start
6) rel/signal_tower/bin/signal_tower s

[2016-08-17 23:25] AndrewDryga commented on #48
Drop-in replace with exrm seems to solve situation, but I would rather try to stay with Distillery :)

[2016-08-17 23:26] farao commented on #46
Ok, better try this Dockerfile, I added mix release.init:
[Dockerfile.zip](https://github.com/bitwalker/distillery/files/423826/Dockerfile.zip)

Also I now updated the signaltower repository to use distillery instead of exrm, but the error concerns both as written.

[2016-08-17 23:32] bitwalker commented on #48
The following Dockerfile works fine for me:

[code]

[2016-08-17 23:33] bitwalker commented on #48
From what I can see this is not specifically a distillery issue, but I'm not clear on what is causing that other Dockerfile to fail.

[2016-08-18 02:22] bitwalker commented on #46
So the issue here is actually with the app. The problem I found was that when the application master attempts to shut down the `signal_tower` app, it hangs, and I'm almost certain it's due to the fact that you weren't returning the pid of a supervisor, but of the cowboy HTTP listener. Here's the changes I applied to the signaltower repo to get things working:

[code]

And I used this Dockerfile to

[2016-08-18 02:22] #46 closed

[2016-08-18 08:19] felipesere commented on #20
I'll have a look at it tonight.

[2016-08-18 08:22] schurig opened #50 "Error on mix.exs deps check"
### Steps to reproduce

`mix release`

### Verbose Logs

[code]

### Description of issue

This error is present since the 0.9.3 version. It might be because of [e40fe54](https://github.com/bitwalker/distillery/commit/e40fe54be66b72927b393593649bd5d11dd19606)

my mix.exs looks like this:

[code]

[2016-08-18 10:26] AndrewDryga commented on #48
Thanks a lot. Your container works well.

[2016-08-18 10:26] #48 closed

[2016-08-18 10:42] AndrewDryga commented on #50
+1

[2016-08-18 14:38] bitwalker commented on #50
This is already fixed in master. I'll get it pushed to hex.

[2016-08-18 14:38] #50 closed

[2016-08-18 14:59] schurig commented on #50
Still getting an error with 0.9.4 :(
(but an other one this time)

[code]

[2016-08-18 15:01] bitwalker commented on #50
Ah it's because of `only: :test`, the code is expecting a list there not a single atom, I'll get that fixed.

[2016-08-18 15:09] bitwalker commented on #50
Try 0.9.5 :)

[2016-08-18 15:38] schurig commented on #50
@bitwalker I'm afraid there is still something wrong :/

[code]

[2016-08-18 15:58] bitwalker commented on #50
/facepalm

[2016-08-18 16:03] bitwalker commented on #50
Pushed 0.9.6...sigh

[2016-08-18 16:17] schurig commented on #50
Works!!! Thank you :) 👍

[2016-08-18 16:20] bitwalker commented on #50
Awesome :)

[2016-08-18 16:22] farao commented on #46
Oh, hmmmm. Strange though that there was no part (elixir compiler, mix or distillery) that warned about this - shouldn't there be a message if the programmer forgets to return the pid of the root supervisor?

Sorry for stealing your time though and thanks a lot for pointing out the problem and solving it at the same time!

[2016-08-18 16:24] bitwalker commented on #46
Even dialyzer wouldn't have caught this, because the value you were returning was actually `{:ok, pid}`, which is what the expected return signature is supposed to be. It's just that the pid was for a process not in your application. Unfortunately I'm not sure that the compiler could ever catch this kind of thing, it's a tricky one for sure.

[2016-08-18 16:25] duijf opened #51 "Distillery says deps are missing from :applications, but doesn't list them"
### Steps to reproduce

`mix.release --env=prod`

### Verbose Logs

[code]

### Description of issue

- What are the expected results?

The error message below would either lists which dependencies are missing, or doesn't appear at all.

[code]

- What OS, Erlang/Elixir versions are you seeing this issue on?

Arch Linux, Erlang 18.3, Elixir 1.3.2.

- If possible, also provide your `rel/config.exs`

[2016-08-18 16:27] bitwalker commented on #51
Ah, this is because `distillery` is ignored by default, and it's the only "missing" application, but I forgot to make sure that the list of missing apps is truly "empty" before printing those messages. It's currently printing them because the list has one element, but that element gets filtered out when the list is printed.

Anyway, thanks for reporting!

[2016-08-18 16:42] bitwalker commented on #51
I've fixed this in master, it'll go out in the next release :)

[2016-08-18 16:42] #51 closed

[2016-08-18 16:46] duijf commented on #51
Lightning quick! Tried it out, and it is indeed working. Thanks for the fix :)

[2016-08-19 10:42] schurig opened #53 "erl: not found on app start"
### Steps to reproduce

run `./bin/my_app console`

### Verbose Logs

[code]

### Description of issue

- the app should start
(it used to work yesterday)

- Building server: `elixir 1.3.2` and `Erlang/OTP 18`
- on the app server is no erl nor elixir installed. Only nginx and the app are on there

[code]

Notice: I used [exrm](https://github.com/bitwalker/exrm) before and switched to distillery. A

[2016-08-19 15:20] bitwalker commented on #53
This may be related to a fix I just merged. Could you try with master and let me know?

[2016-08-19 15:45] schurig commented on #53
Can't test it due to dep error [Install distillery from github fails](https://github.com/boldpoker/edeliver/issues/149)

[2016-08-19 19:52] schurig commented on #53
@bitwalker seems to work 👍

[2016-08-19 19:53] bitwalker commented on #53
Awesome, I'll get a release pushed today.

[2016-08-20 00:36] VladShcherbin opened #54 "Ubuntu 16.04 Phoenix app failing to start"
Okay, I kinda tried to google and try different combos, but still no luck.

Ubuntu 16.04, erlang & elixir are installed there. So, I guess, I can use `set include_erts: false`.

Versions:

- Erlang/OTP 19 [erts-8.0] [source] [64-bit]
- Elixir 1.3.2

The app is using the latest Phoenix and works if I manually start it, but the release want's something from me.

I'm kinda new with releases, here is

[2016-08-20 01:02] bitwalker commented on #54
If you can paste your `mix.exs`, `rel/config.exs`, and the output of the release command with `--verbose`, I can get you sorted :)

[2016-08-20 01:13] VladShcherbin commented on #54
Sure,

mix.exs

[code]

config.exs

[code]

MIX_ENV=prod mix release --env=prod --verbose

[code]

[2016-08-20 02:02] bitwalker commented on #54
Could you try master real quick? There are fixes I haven't released yet and I suspect they may help here. Could you also gist the `erl_crash.dump` file if that doesn't work? I can use that to figure out why the VM is crashing.

[2016-08-20 02:22] VladShcherbin commented on #54
@bitwalker When using `{:distillery, github: "bitwalker/distillery"}]` and `MIX_ENV=prod mix release --env=prod`, it gives me the error:

[code]

[2016-08-20 02:29] bitwalker commented on #54
Oh man, I didn't add a clause for `include_erts` being false /facepalm

I'm not at my computer right now, but if you want to get adventurous you can edit `assembler.ex` and move the clause for true below the one for a path, and change it to be a catch all (the behavior should be the same for both true and false). I'll log on in a bit and push the fix

[2016-08-20 02:55] VladShcherbin commented on #54
I tried, but unfortunately didn't figure it out. I'll be here when you'll push the fix so we'll continue our journey :)

[2016-08-20 03:25] bitwalker commented on #54
Just pushed 0.9.7, want to give it a shot?

[2016-08-20 03:26] bitwalker commented on #53
Just pushed 0.9.7, so I'm closing this for now

[2016-08-20 03:26] #53 closed

[2016-08-20 03:28] bitwalker commented on #10
I'm closing this for now, the command functionality provided by distillery is as far as I can take this kind of thing for now. I'm always doing more digging to see how I can improve things though, so I'll be keeping this in mind for the future.

[2016-08-20 03:28] #10 closed

[2016-08-20 03:30] bitwalker commented on #3
I've done some research on this, and from what I gather, support for releases (primarily upgrades) on RO filesystems is done by having a "release master" system, from which the RO nodes get release information. I don't know that this model is particularly useful for what Nerves is targeting, and I don't know of any good use outside of the embedded realm for that. I'm going to close this for now, b

[2016-08-20 03:30] #3 closed

[2016-08-20 03:33] bitwalker commented on #40
@AndrewDryga is it enough to only create `sys.config.orig` if it doesn't exist? I've played around with a few options and that's the only one that makes sense to me. Anything else is overly complicated and not really worth the effort, considering the original `sys.config` can always be obtained from the release tarball under `releases/<version>/<app>.tar.gz`

[2016-08-20 03:39] VladShcherbin commented on #54
Oh nice, now it successfully started and ping is working. Still not showing the webpage, but I think we are very close.

[code]

Do I need to set this in the prod.config with the distillery? And where to run the `phoenix.digest`, locally or with some hook after deployed?

[2016-08-20 03:41] bitwalker commented on #54
Yeah you'll need that in `config/prod.config`, and you'll want to run `mix phoenix.digest` prior to running `MIX_ENV=prod mix release --env=prod`. I generally glue the commands together during builds like so: `MIX_ENV=prod mix do compile, phoenix.digest, release --env=prod --verbose` (I always run with `--verbose` since if anything goes wrong I don't have to run it again, but it's by no means nece

[2016-08-20 03:51] VladShcherbin commented on #54
Awesome, everything is working now! I really missed such a warm greeting and desire to help from a package creator.

Thank you a lot, I appreciate this. You are my hero! 🎉 👍

[2016-08-20 03:53] bitwalker commented on #54
Hey that's great! Let me know if you run into any other issues. And thanks for the kind words, means a lot:)

[2016-08-20 03:53] #54 closed

[2016-08-20 07:58] slashmili opened #55 "a dependency is not included in release"
### Steps to reproduce

Check out this code https://github.com/slashmili/distillery-sample/tree/ecto-enum

### Verbose Logs

[code]
### Description of issue

- What are the expected results?

Since `ecto_enum` is in my deps list I'm expecting that distillery includes `ecto_enum` in the OTP release

- What OS, Erlang/Elixir versions are you seeing this issue on?

`Elixir 1.3.2`, `Erlang/OTP 19`, `M

[2016-08-20 12:33] AndrewDryga commented on #40
I think yes, since each next start will replace os vars and write them to system os.

The main thing is that there are more and more people trying to follow 12 factor apps convention (and we have reasons for it :), and behavior when you loose ability to configure app via environment variables after first start is bad, and ambiguous.

[2016-08-20 14:53] bitwalker commented on #40
@AndrewDryga Oh that's the only way I configure my apps in production, I just don't use `REPLACE_OS_VARS` with `sys.config`, I use the config wrapper I mentioned above for that. In any case, I'll push a change for this soon.

[2016-08-20 15:00] bitwalker commented on #55
Distillery won't implicitly add dependencies to applications, because they represent two different things generally, for instance you may have compile-time dependencies which you don't want in the release, but which you need for building (such as distillery itself), and this is potentially a problem since dependencies can define `on_load` callbacks for modules, which could result in undesired code

[2016-08-20 15:00] #55 closed

[2016-08-20 15:22] AndrewDryga commented on #40
Can you, please, tell how does this wrapper works internally? Why It doesn't pre-compile values as it happens when you use `System.get_env~ in `config.exs`?

[2016-08-20 15:29] bitwalker commented on #40
When you use `{:system, "VAR"}` or `{:system, "VAR", default_value}` in `config.exs`, they are treated as tuple literals when converted to `sys.config` - this isn't because they are treated specially, but just because they are data structures, not function calls like `System.get_env/1`.

At runtime, instead of calling `Application.get_env`, I call `Config.get` for a string value or `Config.get_int

[2016-08-20 21:38] fhunleth commented on #3
@bitwalker, if I could speak for @mobileoverlord as well, I think that our feedback is that exrm and presumably distillery work well enough for us that we don't have any substantive comments. I'm looking forward to migrating Nerves to distillery in the near future, and I'll let you know if there are any issues or any nice-to-haves. Thanks for keeping us in mind.

[2016-08-21 08:18] VladShcherbin commented on #54
@bitwalker I've got a small new question:

I have a file `priv/dir/file.js`, not in the static folder (as I don't want it to be public). In my controller I need to specify its path:

[code]

It works fine locally, but on the server it keeps telling me:

[code]

How can this be fixed?

[2016-08-21 09:11] slashmili commented on #55
Ok clear,

is there any plan to add more detail about included_applications in the documents?

One more thing, I added the
[code]
to my `Myapp.Mixfile` module but still get the same warning.

The code is available here https://github.com/slashmili/distillery-sample/tree/ecto-enum

[2016-08-21 09:36] VladShcherbin commented on #54
Not sure if this is the correct way, solved by:

[code]

[2016-08-21 12:59] bitwalker commented on #55
@slashmili `included_applications` should be configured like so:

[code]

But you should only use `included_applications` if you are manually managing that application's lifecycle, i.e. calling `Application.start`, etc.

[2016-08-21 12:59] bitwalker commented on #54
@VladShcherbin Yep that's the correct solution. I can add a note about that in the docs, great suggestion!

[2016-08-21 13:34] VladShcherbin commented on #54
@bitwalker would be great, thanks.

The last issue (or a bug) I have it that `start` command is not working on the server (locally everything is working fine on OS X).

If I remember correct, same was with even the first release. So, basically:
- `start` does nothing
- `forceground` starts the server, `ctrc + c` exits, but the server is still running and even sending logs in the shell
- `stop` suc

[2016-08-21 16:05] bitwalker commented on #54
After running `start` are you running `ping` to verify whether it's up or not? `start` doesn't display anything in the shell. If ctrl+c is not exiting the foreground process, it means some application is hanging when being asked to shutdown more than likely, that said, do you have a repo I can reproduce with? That will help me figure out what's going wrong here.

[2016-08-21 16:07] ahamez opened #56 "conform and umbrella: *.conf file is not copied"
### Steps to reproduce

When using distillery with conform and an umbrella project, the *.conf file of sub apps is not copied to release folder.
### Verbose Logs

[code]
### Description of issue
- What are the expected results?
  The *.conf file of the subapp using conform should be copied to the release folder.
- What OS, Erlang/Elixir versions are you seeing this issue on?
  Mac OS X 10.11.6, Er

[2016-08-21 16:37] VladShcherbin commented on #54
@bitwalker yes, I tried `ping`, but no pong received. The app is kinda big & not open source, I'll try to make a small reproduce repo a bit later.

[2016-08-22 06:14] VladShcherbin commented on #54
@bitwalker okay, here is simple [repo](https://github.com/VladShcherbin/distillery-test) for the test with all the commands needed.

Tested on fresh ubuntu 16.04 vps. Same result with installing erlang / elixir.

[2016-08-22 06:54] bitwalker commented on #54
@VladShcherbin thanks for putting that together, I'll test in the morning and figure out what's going on

[2016-08-22 21:28] gaynetdinov opened #57 "Different config parameters for different environments"
Hello.

I tried distillery (with edeliver) and it worked great! 👍

And I've got one question, I couldn't find an answer in the docs.

Say, I have `demo` env and `staging` env. For example in `demo` env an app should send an auth request to `auth-demo.mysite.com` and in `staging` it should send an auth request to `auth-staging.mysite.com`.

Is there a place where I can put these two URLs(somehow sp

[2016-08-23 08:41] omin opened #58 "include_erts: false doesn't solve the cross platform issue"
![image](https://cloud.githubusercontent.com/assets/3143154/17885341/ccff1f88-68d1-11e6-8125-8bc85c0f1dfc.png)

I built the release on a mac without including erlang and the release still failed to run on the production environment. I have other (simple) pheonix application running so it's not an erlang problem.

If what micmus said is true, we should mention that in the guide.

[2016-08-23 09:14] bAmpT commented on #58
I just ran in the same problem while cross-compiling with the erts lib from the machine I want to deploy to.

reason: {on_load_function_failed,'Elixir.Comeonin.Bcrypt'}

[2016-08-23 14:13] brunogirin opened #59 "Application starts with foreground option but not start option"
### Steps to reproduce

I am attempting to package and run a "hello world" example using Plug, as described in the supervised handlers section of the [Plug documentation](https://hexdocs.pm/plug/readme.html#supervised-handlers).

I kept the `rel/config.exs` file unchanged from the default produced by `mix release.init`.

Steps:
1. Run mix release
2. Start the app
3. Send a ping to see if it's runn

[2016-08-23 18:15] farao opened #60 "Starting the same service twice on the same machine"
Sorry in advance for this issue, there's a high chance I just didn't get how to deal with distillery properly.

I want to start a release twice on a machine - the only difference being the network port that the service listens on (which is given as an environment variable). Naively, I thought just copying the release in two separate directories (one for the "testing" service and one for production

[2016-08-23 18:49] bitwalker commented on #60
You just need to tweak the `vm.args` file in the release and change the node name (the first part of the `-name` parameter). I can add this to the docs as a troubleshooting step :)

[2016-08-23 18:49] #60 closed

[2016-08-23 18:52] bitwalker commented on #59
Looks like there may be some issues with how signals are handled on Ubuntu, hence the issue with the app not stopping with CTRL+C.

If you're app is not starting when you run `./bin/myapp start`, then it means the app should have crashed, and there should be log files present in the release directory which we can use to troubleshoot what went wrong. Could you paste them here?

[2016-08-23 18:54] bitwalker commented on #58
Yeah, if you are using NIFs you definitely have to have the cross-compilation toolchain for them as well. In the case of NIFs, it's far easier to build your release on the same OS/architecture, with Docker or Vagrant or whatever. I'll make a note of this in the docs.

[2016-08-23 18:54] #58 closed

[2016-08-23 18:58] bitwalker commented on #57
You need to leverage Mix's environments for this. So in your case, you would have multiple config files under `config`, using something like `import_config "#{Mix.env}.config.exs"` in `config/config.exs`. Then build your releases with `MIX_ENV=demo mix do compile, release --env=demo` or `MIX_ENV=staging mix do compile, release --env=staging`. If your release env and mix env will always be the same

[2016-08-23 18:58] #57 closed

[2016-08-23 19:55] gaynetdinov commented on #57
Thanks for the explanation!
Do I understand correctly that in that case I'd need to build a release per environment?

[2016-08-23 21:20] bitwalker commented on #57
@gaynetdinov yep that's correct, you could also generate your own `sys.config` and/or `vm.args` for each environment and manually apply them over the top of a single release (i.e. MIX_ENV=prod), either one is equally fine.

[2016-08-24 09:00] brunogirin commented on #59
Yes, there's an erl_crash.dump. Attached.
[erl_crash.dump.zip](https://github.com/bitwalker/distillery/files/434351/erl_crash.dump.zip)

[2016-08-24 09:02] brunogirin commented on #59
Should I open a second issue for the CTRL+C problem?

[2016-08-24 12:28] OnorioCatenacci commented on #7
Hi Paul,

Sorry--didn't forget about this but I have lost easy access to a Windows box for this sort of work.  It's also made it much harder for me to maintain the Chocolatey NuGet package. I'm taking steps to address this but I'm not going to have anything soon.

Will you be down in Orlando next week?

[2016-08-24 15:42] bitwalker commented on #7
@OnorioCatenacci no worries! I can definitely relate. And yeah, I'll be at ElixirConf, looking forward to it!

[2016-08-24 19:03] VladShcherbin commented on #54
@bitwalker Hey, I think this is the same issue as this [https://github.com/bitwalker/distillery/issues/59]. Lets move there I guess :)

[2016-08-24 19:05] VladShcherbin commented on #59
If you open the logs dir, there is the reason:

[code]

It's kinda strange because `which openssl` gives `/usr/bin/openssl`. Maybe the crypto library is trying to use different path.

[2016-08-24 19:17] VladShcherbin commented on #59
Quick googling shows that it probably won't be an issue if you build your release on the same machine or same configuration.

It's time to setup docker / vagrant I guess :(

[2016-08-24 19:37] VladShcherbin commented on #59
Yep, I uploaded the test app to the production server, made a release there and it is working with no errors (and clean log) and starts with a `start` command.

The issue with `foreground` and non-working `ctr-c` is still there, unfortunately.

[2016-08-24 22:04] VladShcherbin opened #61 "Setting include_system_libs to false fails the release"
### Steps to reproduce

Grab a fresh test project, like this [one](https://github.com/VladShcherbin/distillery-test)

Open `rel/config.exs` and change:

[code]

to

[code]

Execute

[code]

### Verbose Logs

[code]

### Description of issue

OS X 10.11.6

[2016-08-24 22:18] bitwalker commented on #61
Thanks for the report, looks like there is a branch in the code where paths are being joined up incorrectly, I'll get that fixed ASAP.

[2016-08-24 22:20] bitwalker commented on #59
NIFs require cross-compilation toolchains for the NIF. Cross-compiling a release is specific only to the Erlang runtime you link to, not any system libraries, etc. I'll be adding a thing in the docs about this.

I haven't had a chance to look at the CTRL+C issue yet, but it's next on my plate.

[2016-08-24 23:18] VladShcherbin commented on #59
@bitwalker may I ask, what is your recommendation to do a release:

1. Locally, `include_erts: false`. This option seems to fail because of NIF's issue.
2. Locally, using `docker`. This option seems legit, but if I understood correct:
 - you create environment (container), setup it, run release in it and then you need to update image and pull in on server's docker?
  - or you create a release in a

[2016-08-25 03:01] bitwalker commented on #59
My recommendation varies depending on the needs of a particular application, but:

1. `include_erts: false` is not the issue here, the issue is that you must compile NIFs on the target OS/architecture.
2. I would build the release in docker, export the tarball from the container and push to your server. If you are running docker in production, you can just build the image and push it to your image

[2016-08-25 03:44] VladShcherbin commented on #59
@bitwalker yes, the `docker` solution seems like the only *true* solution, though I think building images is preferred rather than pushing tarballs as this is the only way that will give you exactly the same environment.

Thank you for confirming my thoughts, now I need to find a good docker tutorial on how to do this :)

[2016-08-25 12:56] farao commented on #60
Alright, thanks! At least it wasn't embarassingly obvious :-) I think it would help adding it to the documentation!

[2016-08-26 19:19] #59 closed

[2016-08-26 19:30] #61 closed

[2016-08-26 19:53] #40 closed

[2016-08-27 02:05] scrogson opened #63 "Release crashes in dev mode when Swarm is dependency"
### Description of issue

The release builds fine with `mix release` but it fails to start due a missing NIF in the `asn1` application. This problem goes away when I change `:include_erts` to `true`.

- What are the expected results?
  - I would expect that NIFs in the Erlang runtime system would automatically work in `dev` without needing to include the runtime.

- What OS, Erlang/Elixir versions

[2016-08-27 02:38] bitwalker commented on #63
Haha, I literally just saw this today myself, interestingly it works fine with `foreground`, but both `console` and `start` fail. I think I know what causes this, looking into it now.

[2016-08-27 04:28] #63 closed

[2016-08-27 04:30] bitwalker commented on #63
Found the issue, the code paths being provided to the node were incorrectly looking in the release lib directory, when the system libs should be loaded from the ERTS lib directory.

[2016-08-27 13:02] chemeris opened #64 "Circular dependencies among applications"
### Steps to reproduce

1. Clone `https://github.com/chemeris/release_test`
2. Run
[code]

### Verbose Logs

[code]

### Description of issue

- Expected result: successful release generated
- OS Ubuntu 14.04 64-bit, Erlang/Elixir:
[code]

[2016-08-27 13:13] bitwalker commented on #64
Can you put together a repo which reproduces this issue? The error is pretty clear, but I want to see how it's arriving at that conclusion to make sure it's not something distillery is doing.

[2016-08-27 13:44] chemeris commented on #64
I've created a repo with the code which throws this error - see the very beginning of the bug  report. Do you need anything else?

[2016-08-27 13:58] bitwalker commented on #64
Oh damn, read over the clone repo step, hardly anyone ever does that upfront, so it's habit to ask, but you're on top of it :)

I'm on the road today, but I'll look into this ASAP

[2016-08-30 12:44] brunogirin commented on #59
Sorry for the delay in replying. I definitely intend to use docker for building when I release to production. However, in my case I currently have the problem when starting the app on the same laptop that I compiled it on so there should be no issue of NIFs cross-compiling.

[2016-08-30 18:22] rodrigues commented on #63
Just had the same problem and https://github.com/bitwalker/distillery/commit/3dd1f196dff64b57703c441592312e8a7c85eb23 worked here! 👍

@bitwalker is version `0.9.9` coming? 😄

thanks!

[2016-08-31 08:51] chemeris commented on #64
Any news?

[2016-09-01 13:21] bitwalker commented on #63
@rodrigues Just published today :)

[2016-09-01 13:43] bitwalker commented on #64
@chemeris The issue is that `exometer_lager` has `hut` in it's `included_applications` list, and `exometer_core` has `hut` in it's `applications` list. This forms a circular dependency, since `exometer_lager` requires that `exometer_core` is started before it starts, but since `hut` must be started by `exometer_lager`, `exometer_core` has an implicit dependency on `exometer_lager`.

You should onl

[2016-09-01 13:43] #64 closed

[2016-09-01 13:44] bitwalker commented on #59
@brunogirin there was an issue with Distillery in the last version, it is addressed in 0.9.9, and should solve the issue you encountered :)

[2016-09-01 15:40] brunogirin commented on #59
@bitwalker excellent, thanks, I'll upgrade as soon as I can and try again.

[2016-09-02 12:12] matehat opened #66 "Elixir 1.3 really required?"
I just wanted to make sure that Elixir 1.3 was really required for distillery (awesome talk yesterday @bitwalker!). We wanted to use this in our company, and moving to Elixir 1.3 is _definitely_ on the roadmap, but at this time upgrading elixir would have much more side effects in our project (some erlang projects not compiling on Erlang 19) than just switching from exrm to distillery, and we can'

[2016-09-02 12:36] zimt28 commented on #59
@bitwalker Works now, thanks :)

[2016-09-02 14:51] bitwalker commented on #66
It's not strictly required for the hex package, but the project itself uses some 1.3 features in the test suite, and could depend on 1.3 features in the library itself at any time. You shouldn't have to upgrade to Erlang 19 to use Elixir 1.3 though, at work we still run Erlang 18.3, and Elixir 1.3.2. That said, if there are other reasons, I can certainly understand.

I could probably drop the requ

[2016-09-02 14:51] #66 closed

[2016-09-03 10:35] supernullset commented on #2
@bitwalker mind if I take on the Ecto migrations documentation? I figure I have a setup for it already.

[2016-09-03 12:30] chemeris commented on #64
Thank you and apologies for the false alert. This is indeed the issue.

[2016-09-05 15:24] shersh opened #68 "Could not compile project"
### Steps to reproduce

Add dependency ``` {:distillery, "~> 0.9"} ``` to mix.exs and try run
``` mix compile ``` after ``` mix deps.get ```

### Verbose Logs

== Compilation error on file lib/mix/lib/releases/archiver.ex ==
** (CompileError) lib/mix/lib/releases/archiver.ex:121: unhandled operator ->
    (stdlib) lists.erl:1353: :lists.mapfoldl/3
    (stdlib) lists.erl:1354: :lists.mapfoldl/3

##

[2016-09-05 15:34] shersh commented on #68
Sorry, it's my bad.
I just upgraded Elixir and it works fine

[2016-09-05 15:34] #68 closed

[2016-09-06 19:25] rickr opened #70 "bin/<app_name> dies silently if erl is not found"
### Steps to reproduce

Remove the directory `erl` lives in from `$PATH`. Run `/bin/<name>`. There will be no output.

### Verbose Logs

No output. Exit status of 1.

### Description of issue

I expect to see a message explaining why the command failed.

[2016-09-07 16:36] OvermindDL1 commented on #7
Looking for this as well, just tried to integrate distillery into a big project to replace exrm, then on the initial test release building found that there was no windows deployment, service registration, etc...  Thus, looking forward to this.  :-)

[2016-09-09 16:41] martin-langhoff opened #73 "release-init --release-per-app fails in complex umbrella project"
### Steps to reproduce

A complex umbrella project is failing to init the distillery configuration. Will update ticket as I narrow down on cause... :-)

[code]
### Description of issue
- What OS, Erlang/Elixir versions are you seeing this issue on?

Elixir 1.3.2, Erlang 18.
- If possible, also provide your `rel/config.exs`, as it is often
  my first troubleshooting question, and you'll save us bot

[2016-09-09 16:56] bitwalker commented on #73
Do you have anything under `apps` which isn't an Elixir project directory? From the code I could see that causing an issue.

[2016-09-09 17:26] bitwalker commented on #2
@supernullset Go for it :), could you perhaps outline what your approach is for it? I'd like to see if it's the way we should plan on doing that moving forward, or if there are improvements I can make to solve it better.

[2016-09-09 18:48] martin-langhoff commented on #73
There shouldn't have been, but there was. I had an "empty" `apps/foo` directory (actually it contained a hidden file) from an experimental branch. Removing the stray empty dir from `apps` fixed it. Thanks.

Up to you on whether this is worth fixing (code, faq) or just closed :-)

[2016-09-09 18:53] bitwalker commented on #73
Good news! This is an easy one to fix, it's actually been tackled in the assembler previously, but the init task got missed I suppose. I'll get it on the TODO list :)

[2016-09-10 14:12] VladShcherbin opened #74 "Add documentation about docker / vagrant"
From the distillery documentation, you can get a feeling that it is super easy - just add a package, add some configuration and run a console command.

Unfortunately, there is a very important note - your app must be compiled in the same environment as your production server. This step is almost missing in the docs and reading tons of information about VM's (virtual machines) is overwhelming for p

[2016-09-10 17:16] bitwalker commented on #74
Sure I can see this being helpful to have some better documentation around. My personal feeling is that it's easier to setup and automate things with Docker versus Vagrant, Vagrant also has additional dependencies which make it a pain to install if you are using it with just one project.

Only the OS, architecture (32bit vs 64bit), and any system libraries which your app depends on (i.e. OpenSSL)

[2016-09-10 18:40] VladShcherbin commented on #74
Okay, so the recommended VM will be docker.

1) Is there any image example for docker? If we choose [ubuntu image from hub](https://hub.docker.com/_/ubuntu/), do we need it be the exact version on prod & dev (xenial-20160818 for example) or any 16.04 will be okay?
2) If we just copy the tarball and not the whole docker container, how can we be sure that it will use the same version of packages (Op

[2016-09-10 21:20] bitwalker commented on #74
1. Any 16.04 is fine.
2. How you deploy depends on your production environment. If you are running containers in prod, you would build an image via Docker and push that to an image repository your production environment pulls from. If you are running manually managed hosts, then you would write a Dockerfile which installs the same dependencies as you run in production, build the release in the ima

[2016-09-11 17:16] merqlove commented on #74
I found that mostly you can build safe locally with crossOS support (with NIF's recompile inside build container).
But sometimes especially on `Ubuntu`, we can have different from `OSX` Erlang Kernel version. It give us strange errors.
In this case i found local or `CI` docker build in the same environment as production really helpful.

Example:
https://github.com/merqlove/elixir-docker-compose

[2016-09-13 00:03] supernullset commented on #2
@bitwalker My thinking is that I extend the application which I use for the phoenix walkthrough with some generated models and cover the `post_start` hook within a Phoenix context. I would pretty much like to add the solution proposed by @LevelbossMike and yourself (`nodetool ping`) to a document with a digestible explanation. Additionally, I would like to cover adding a migration rollback script

[2016-09-13 01:20] bitwalker commented on #2
I'll save you the time of reading through the Erlang manual around releases, there is really only one good way, and that's via the `apply` appup instruction. It allows us to execute an MFA during the upgrade or downgrade process. It is not general across releases though (i.e. if you aren't using hot upgrades/downgrades, then the approach does not work of course), but in this particular walkthrough

[2016-09-13 15:54] supernullset commented on #2
@bitwalker Great, thanks for that info! I'll start [work](https://github.com/supernullset/phoenix-distillery-example) shortly.

[2016-09-13 16:13] martin-langhoff commented on #56
I seem to be affected by the same bug.` foo.schema.exs` is also missing in the release.

[2016-09-13 18:03] martin-langhoff opened #76 "Make hooks into conf.d style dirs [ENH]"
It'd be much better to have `start_hook` and friends be _directories_, where scripts found following a certain name pattern are sourced/executed in alphabetical order.

A simple name pattern ("must end with `.hook`, must start with alphanum), helps prevent accidental execution of hidden/temp, conflict files (`.rej`, `.rpmsave`), and other floatsam and jetsam.

It'd be a good idea to do it now (pre

[2016-09-15 19:03] bitwalker commented on #76
I agree, this has been in my mental todo list recently. Let's make this a priority.

[2016-09-15 19:05] martin-langhoff commented on #76
I've implemented this a couple times, can bring in known-good code.

[2016-09-16 18:40] bitwalker commented on #76
That would be excellent :)

[2016-09-19 19:03] martin-langhoff opened #81 "[minor] Should rel/config.exs live elsewhere?"
As an early user of Distillery, I am finding a (minor) inconvenience that the `rel` dir holds both output and an important file which should be tracked in version control (ie: git).

Should `rel/config.exs` live elsewhere? Maybe `mv rel/config.exs releaseconfig.exs` ?

[2016-09-19 19:05] schnittchen commented on #81
Or `distillery_config.exs`

[2016-09-19 19:08] bitwalker commented on #81
I would prefer to leave anything release related in `rel`, but I am looking in to moving the release artifacts to `_build`, since it seems to be a more appropriate place for them.

[2016-09-19 19:12] martin-langhoff commented on #81
Sure, a move to `_build`  would work for me too. +100 :-)

[2016-09-19 19:55] bitwalker commented on #81
I have a couple of improvements I plan on doing around this, and I'm curious on your thoughts:

- Move build output to `_build`
- Add task `mix release.console` which ensures the release is built and runs the release console
- Add task `mix release.foreground` which ensures the release is built and runs the release in foreground mode
- Make it possible to point `mix release` at a tarball when perf

[2016-09-19 19:59] schnittchen commented on #81
I could see releases living in fex. Amazon s3, which would require some tooling on the server side.
How fixed do you see the release store API, could it easily be adapterized?

[2016-09-19 20:18] martin-langhoff commented on #81
@bitwalker - +10 on the move to `_build`,+1/ neutral on all the other ones (they don't affect me :-) ).

[2016-09-20 18:09] bitwalker opened #82 "Move release output to _build"
Instead of pushing build output into `rel/<release_name>`, we should leverage `_build` for these.
- [x] Move `rel/<release_name>/*` to `_build/<env>/rel/<release_name>/*`
- [x] Modify `release.clean`
- [x] Document changes, add notice to README

[2016-09-21 13:33] OnorioCatenacci commented on #7
Hi Paul,

So it's taken me a while to get a VM stood up to allow me to work on
Powershell stuff on Windows.  My work box is Win7 but for some reason
they've totally blocked access to Powershell (which strikes me as a rather
draconian approach but there it is).  I think they're worried about
Powershell being a source of trojans the way that VBScript was back in the
day--which strikes me as somewhat

[2016-09-22 14:45] jordan0day opened #84 "Support for `warn_missing: false` (or something like it)?"
First off, let me say thanks for building so many great tools for the elixir ecosystem! ❤️

### Steps to reproduce

Add a dependency like
`{:elixir_make, "0.3.0", warn_missing: false}`

### Verbose Logs

[code]

### Description of issue
I've scanned through the distillery docs but haven't seen anything about explicitly ignoring a missing dependency. In my case, I have a build-time dependency on `e

[2016-09-22 17:44] bitwalker commented on #84
You can do this with `--no-warn-missing`, or by putting the following in `config/config.exs`:

[code]

I'll make sure this gets documented better :)

[2016-09-22 17:44] #84 closed

[2016-09-23 13:13] programisti opened #85 "App is unable to read Mix Configs when running release"
When running release build by distillery, app is unable to read Mix Config files such as rootDir/config/config.exs
This is my rel/config.exs file

[code]

[2016-09-23 15:03] bitwalker commented on #85
@programisti I'm not sure I understand, could you clarify more specifically what's failing? Have you read [this part](https://hexdocs.pm/distillery/runtime-configuration.html) of the documentation?

[2016-09-28 06:34] #70 closed

[2016-09-28 21:03] bokay opened #87 "ERTS Version Not Well Detected"
First of all, thank you for your great work 👍
### Steps to reproduce
- Create a dockerfile  with`FROM bitwalker/alpine-erlang:latest`
- Set a phoenix project with `include_erts: false` in `rel/config.exs`
- Build the release with `MIX_ENV=prod mix release --env=prod`
- Build the dockerfile
- Try to run the build running `CMD ["/app/bin/perahealth", "foreground"]`
### Verbose Logs

Output of the re

[2016-09-28 22:44] bitwalker commented on #87
That's bizarre, how is it picking up 7.2.1? I'm using this image in production at work as well and I haven't yet seen this. Could you gist your whole Dockerfile?

[2016-09-29 00:11] bokay commented on #87
Here is the Dockerfile that I'm using :
https://gist.github.com/bokay/34bd52e56fb0d3b43d49450349841f5d
I always use the version 0.0.1 and I build and commit the release generated by distillery locally.

[2016-09-29 08:18] slashmili opened #88 "ignore missing application"
Just to be clear, It's just a suggestion.

Every now and then I find my self forgetting to add an application to the list(mostly for libraries) so I enabled `--warnings-as-errors` option which works as I expected.

Everything was good until I added `elixir_make` to my dependency list. I need it to build the project but don't want to include it in release.

What do you think of a settings somewhere

[2016-09-29 09:00] goofansu commented on #88
This has been solved in https://github.com/bitwalker/distillery/issues/84

[2016-09-29 09:02] #88 closed

[2016-09-29 17:38] cjimison opened #89 "Question on rel/config.exs"
### Steps to reproduce

No Steps to Reproduce .. This is more of a question/feature request.  However I am on Distillery 0.9.9.

### Verbose Logs

No logs

### Description of issue

Hi Bitwalker,

First let me say how much I LOVE distillery.  It is really awesome and I have two questions for you:

1) In the rel/config.exs file, is it possible to set the applications based on the environment type?

[2016-09-30 04:41] bitwalker commented on #89
I need to make an adjustment to the way applications in the config are handled, but with the way things work now, you can just do `set applications: [:observer, :debugger]` in the dev config and they will be added to the release for dev, but not for any other profiles. Included applications are currently not supported, but for good reason. Is there a reason you are using `included_applications` in

[2016-09-30 05:15] cjimison commented on #89
Good to know about the dev config.  I must have missed that in the docs.

As for the “included_applications” it is really about transitive dependencies with poor hygiene.  I really like the warning on missing deps however I see the following:

==> One or more direct or transitive dependencies are missing from
    :applications or :included_applications, they will not be included
    in the release

[2016-09-30 10:31] slashmili opened #90 "Duplicated application included in umbrella project"
### Steps to reproduce

https://github.com/slashmili/distillery-sample/tree/duplicate-uuid

I am using `uuid` in to apps in my umbrella project, I build these tools:

* `mydist` -> is built separately
* `myapp`  -> `myapp` and `mydist` are included into release build

I have added `uuid` to both apps :

[code]

### Verbose Logs

https://github.com/slashmili/distillery-sample/blob/duplicate-uuid/RE

[2016-09-30 10:53] programisti commented on #85
I was not able to read config files because my Mix Config had different application name.

[2016-09-30 10:53] #85 closed

[2016-09-30 15:18] bitwalker commented on #89
You can put `config :distillery, no_warn_missing: [:cover, ...]` in your `config/config.exs` and those applications will not give warnings :)

Thanks for the kind words as well, it's great to hear Distillery has been well worth the switch, feedback like that keeps me motivated :)

[2016-10-01 09:32] szlend opened #91 "Can't start app after hot code upgrade"
The Distillery start script relies on `releases/<ver>/<app>.rel` existing [1]. But when you do a hot code upgrade, it performs erlang's `unpack_release` which deletes `<app>.rel` [2].

[1] https://github.com/bitwalker/distillery/blob/3dd1f196dff64b57703c441592312e8a7c85eb23/priv/templates/release_utils.eex#L9
[2] https://github.com/erlang/otp/blob/3b7a6ffddc819bf305353a593904cea9e932e7dc/lib/sasl/

[2016-10-01 09:42] szlend commented on #91
A simple fix is to replace

[code]

with

[code]

But then the function only works with the current release and `RelDir` is unused.

[2016-10-01 19:30] slashmili commented on #90
Thanks for explanation, application and included_applications are confusing.

The whole idea of adding libraries to application list which they are suppose to start/stop for sake of the release looks wrong to me.

I know that you didn't make this decision but I was expecting that `distillery`  won't follow `relx` path (regardless where the application list will end up in OTP release)

When first t

[2016-10-01 19:43] bitwalker commented on #90
`applications` and `included_applications` are OTP concepts, so we have to adhere to them. Library applications are still applications in OTP parlance, but since they don't export start/stop callbacks, they just aren't started. Those lists don't necessarily have anything to do with releases per se, but they are what we use to build the list of applications required in the release so that you don't

[2016-10-02 18:24] vishnevskiy opened #92 "Conform not executed after an upgrade"
### Steps to reproduce

Just run a hot upgrade and the conform `pre_start` hook will not be executed until you restart the VM resulting in the default `sys.config`.
### Description of issue

I believe I have previously reported and provided a PR for `exrm` for the same issue. This time however there does not seem to be a clear path to do this since the system is hook based and not intertwined and

[2016-10-02 18:26] bitwalker commented on #92
I'll need to add `pre_upgrade` and `post_upgrade` hooks in order to make this work properly, which is effectively how I did it in exrm.

[2016-10-02 18:29] vishnevskiy commented on #92
Actually it seems that downgrades do not work either since the upgrade/downgrade system wants the `sys.config` in the specific release folder to have the correct information and everything is setup to only write to the root release directory.

[2016-10-03 16:28] bitwalker commented on #91
I've pushed a fix for this and a new release (containing a bunch of other fixes and changes).

I also discovered that it's actually not possible to use hot upgrades with `include_erts: false`, since `release_handler` checks the presence of libraries via paths contained in the `releases/RELEASES` file, and it's not possible to pre/post process that file, as the state is generated and stored in the

[2016-10-03 16:28] #91 closed

[2016-10-03 18:10] szlend commented on #91
Awesome! I'm not affected cause I always include ERTS, but it's good to know nonetheless :)

[2016-10-03 19:58] sikanhe opened #93 "Release config should reside in /config/release.exs folder"
It really does not make sense right now for release config to reside in rel. When I think about rel i think about files that are produced by the release (similar to _build), not something I should version control.

I understand that in upcoming version of distillery the release will be in _build, which makes this problem even more apparent.

Is there any reason why release config cannot be in the

[2016-10-03 23:35] edmz opened #94 "Error in Mix.Releases.Utils.get_apps/1 when adding a specific atom to applications list"
### Steps to reproduce

  MIX_ENV=prod mix release  --verbose --env=prod

### Verbose Logs

Generated paladin app
==> Loading configuration..
==> Assembling release..
==> Building release paladin:0.1.10 using environment prod
** (MatchError) no match of right hand side value: []
    (distillery) lib/mix/lib/releases/utils.ex:232: anonymous fn/2 in Mix.Releases.Utils.get_apps/1
    (elixir) lib/enu

[2016-10-04 00:10] bitwalker commented on #94
Could you gist your `rel/config.exs`? It looks like you have set `include_erts: "some/path"`, but the path is incorrect. However I'm still unsure why it would work when you remove that one library. I'm unable to reproduce myself though, so I'll need a bit more information about your release configuration before I can get much further.

[2016-10-04 00:12] bitwalker commented on #94
It may also help to know what OS you are building on as well, and how Erlang is installed. Since it's failing when attempting to resolve a corrected path to an Erlang library, it looks like the library it's trying to correct is missing from somewhere.

[2016-10-04 00:16] edmz commented on #94
Sorry about that. I am on the road and was debugging via a kvm.

This is on OSX. Erlang and Elixir were installed via brew.

On Monday, 3 October 2016, Paul Schoenfelder <notifications@github.com>
wrote:

--
Eduardo

[2016-10-04 00:23] bitwalker commented on #93
The reason release output is moving to `_build` is because the real "artifacts" of a release build are the tarballs, which will remain under `rel` - the workspace generated under `rel` today tends to cause issues when people try to run their release from there, and more often than not, it's not used. One will still be able to run their release from `_build` with `mix release.run` or something like

[2016-10-04 00:23] #93 closed

[2016-10-04 00:24] bitwalker commented on #94
Ok, well that's my test setup, more or less (I installed Erlang via `kerl` and Elixir via `exenv`), but I don't think it changes anything. When you get a chance, gist up your `rel/config.exs` and I'll see what I can do to reproduce.

[2016-10-04 00:26] jocuman commented on #94
I'm using this account to send the rel/config.exs

https://gist.github.com/jocuman/916bc69055479ec170584c09eb901cd3

[2016-10-04 00:27] sikanhe commented on #93
I see your reasoning now, it makes total sense that /config is only for run time configs.

[2016-10-04 00:36] bitwalker commented on #94
Ok so the problem is that your application depends on an Erlang lib which is not present in the ERTS that you are configuring the release to include. I need to fix distillery to fail with an error which tells you which library is missing, but that's what happened here. I'll get a fix pushed in a bit.

[2016-10-04 02:52] bitwalker commented on #94
@edmz I just pushed a commit to master which should produce a better error which tells you what application is missing, and where it expected to find it. Could you give that a shot and tell me if it helps?

[2016-10-04 11:03] sobolevn opened #95 "[documentation] coverage information is missing"
For some reason the badge is broken.

<img width="643" alt="2016-10-04 14 03 09" src="https://cloud.githubusercontent.com/assets/4660275/19071966/5dacf142-8a3b-11e6-8799-8ec2d41ed0de.png">

Repo does not exist on coveralls.io: https://coveralls.io/github/bitwalker/distillery?branch=master

[2016-10-04 11:11] teamon opened #96 "0.10.0 breaks REPLACE_OS_VARS"
Since https://github.com/bitwalker/distillery/compare/0.9.9...0.10.0#diff-8e1a1749b553223a5202b250e93f3e57L180 the `orig_vmargs_path` is no longer set.

### Steps to reproduce

Make a release and set `REPLACE_OS_VARS=true` env variable.

### Verbose Logs

[code]

[2016-10-04 11:29] brunogirin opened #97 "Documentation: add details about `set cookie: <cookie>`"
### Steps to reproduce

When doing `mix release` with distillery 0.10, it displays a warning about `set cookie:`. However, the [documentation](https://hexdocs.pm/distillery/configuration.html#environment-release-settings) doesn't include anything about that setting.

### Verbose Logs

[code]

### Description of issue

- What are the expected results? The documentation should include details about

[2016-10-04 17:24] bitwalker commented on #97
I'll get this updated, thanks!

[2016-10-04 17:25] bitwalker commented on #95
Ha, I'll get that fixed, thanks!

[2016-10-04 17:33] bitwalker commented on #95
Repo has been added to coveralls, thanks!

[2016-10-04 17:33] #95 closed

[2016-10-04 18:20] StevenNunez commented on #55
@bitwalker I'm running into this with Poison. It's not an app that needs to be started. Is the best way to get this packaged to used `included_applications`?

[2016-10-04 21:40] spscream commented on #96
the same issue with sys.config:
https://github.com/bitwalker/distillery/compare/0.9.9...0.10.0#diff-8e1a1749b553223a5202b250e93f3e57R266

orig_sys_config_path is not set in current version

[2016-10-05 00:12] scrogson opened #98 "Rename command to run"
@bitwalker what do you think about renaming `command` to `run`. Not only is a shorter, but it seems more semantically correct to me.

[2016-10-05 01:18] edmz commented on #94
@bitwalker awesome, now I see that the missing one is `:sasl`.

What I find odd, is that the folder that has erts has the following:

    drwxr-xr-x  4 edmz  staff   136B Sep 27 19:04 asn1-4.0.4
    drwxr-xr-x  3 edmz  staff   102B Sep 27 19:02 compiler-7.0.2
    drwxr-xr-x  4 edmz  staff   136B Sep 27 19:03 crypto-3.7.1
    drwxr-xr-x  3 edmz  staff   102B Sep 27 19:03 erl_interface-3.9.1
    drw

[2016-10-05 01:21] bitwalker commented on #94
All of those applications should be in a lib folder, it looks like they got copied there on accident, could you confirm if that's true on the Ubuntu machine you copied it from?

[2016-10-05 01:22] bitwalker commented on #98
I do like the verb better, I'm open to the change :)

[2016-10-05 01:24] edmz commented on #94
@bitwalker sorry, I have an ubuntu folder (which I named that). That folder only contains an `erlang` wolder which has:

    drwxr-xr-x  15 eduardo  staff   510B Sep 27 19:04 bin
    drwxr-xr-x   3 eduardo  staff   102B Sep 27 19:01 erts-8.1
    drwxr-xr-x  17 eduardo  staff   578B Sep 27 19:04 lib
    drwxr-xr-x   5 eduardo  staff   170B Sep 27 19:04 releases

My previous comment was the result o

[2016-10-05 01:25] bitwalker commented on #55
@stevennunez use `set applications: [someapp: :load` in rel/config.exs

[2016-10-05 01:27] edmz commented on #94
You could be right no that, though. What should I copy from my ubuntu machine? I copied what was under `/usr/lib/erlang/` to my dev machine.

[2016-10-05 01:27] bitwalker commented on #94
When the error was printed was that lib folder the directory it printed as the search path?

[2016-10-05 01:30] edmz commented on #94
It printed:

    Search path: /Users/eduardo/Documents/Work/yopinless/ubuntu/erlang/lib

[2016-10-05 01:34] bitwalker commented on #94
No that directory structure is correct, I'm not sure how it didn't pick up sasl though, but I have enough now to troubleshoot I think. I'll get back to you if I'm not able to, in which case I may need you to upload a tarball of that erlang directory, but I'm hoping that won't be necessary.

[2016-10-05 01:39] edmz commented on #94
Let me know and I will assist.

On Tuesday, 4 October 2016, Paul Schoenfelder <notifications@github.com>
wrote:

--
Eduardo

[2016-10-05 12:26] spscream commented on #76
Good Idea, but what if project has some dependencies? e.g I have project with conform dependency and conform has its own hook. Now conform hook can be added as pre_start_hook at rel/config.exs. I think it would be good to make possible run hooks from dependencies without any additional configuration, e.g. if dependency has rel/hooks/ directory, then content should be treated as hooks  and must run

[2016-10-05 15:48] edmz commented on #94
I made a PR #99 that solved the issue for me, it was a typo. Does it make sense to you?

[2016-10-05 19:08] sschneider1207 commented on #87
I'm having this issue as well. I built a release on windows that has erts 8.0, `include_erts: false` and deployed it to ubuntu with erts 8.1.  The project.sh script tries to use the erts 8.0 path that I assume it got from the windows machine instead of the erts version from the machine it's currently on.

[2016-10-05 19:16] mtaylor91 opened #100 "Distillery should support dynamically creating $HOME/.erlang.cookie in a pre-start hook"
### Steps to reproduce

  1. Create a pre-start hook to initialize $HOME/.erlang.cookie if not already present:

[code]

### Logs

Release fails to start complaining about distribution cookie not being set:

[code]

### Description of issue

- Sanity check to ensure cookie is set in the generated release script runs before any pre-start hooks.
- The use-case for this is the desire to avoid packagi

[2016-10-05 20:10] mtaylor91 commented on #96
I'm running into this as well; tried using REPLACE_OS_VARS=true as a workaround when my original attempt to dynamically set the cookie using a pre-start hook failed (see https://github.com/bitwalker/distillery/issues/100)

[2016-10-05 21:51] edmz commented on #94
I see that the PR was merged, cool.

Do you think I should add something to the docs those that want to copy erts files from another OS? I could create a PR for that.

[2016-10-05 22:18] bitwalker commented on #94
That would be great! Improvements to the documentation are always appreciated :)

[2016-10-06 13:11] spscream commented on #76
added implementation ;)

[2016-10-06 17:16] brunogirin commented on #97
Excellent, thanks!

[2016-10-06 18:04] jschniper commented on #96
I've run into this as well. Looks like the variable might have been lost in commit 9ceefaf

[2016-10-06 18:52] bradleyd opened #103 "release with TLS connection complains of missing asn1.app"
### Steps to reproduce

Create a release that connects to rabbitmq `using amqp` with TLS.  Fails on startup.  Remove the TLS connection it works.  If you run it from `iex` without a release it also works.

### Verbose Logs

[code]

### Description of issue
`iex -S mix` the app runs and connects fine to rabbitmq

Once I put it into a release, this occurs while trying to run console or foreground

[

[2016-10-06 18:53] bitwalker commented on #94
I'm going to close this since the original issue is solved, but if you open a PR for the doc change, I'll get it merged ASAP.

[2016-10-06 18:53] #94 closed

[2016-10-06 19:12] bradleyd commented on #103
I did add this to config and got it to work.

` set applications: [:asn1, :public_key, :ssl]`

[2016-10-06 21:13] spscream commented on #96
created pr with fix

[2016-10-09 07:22] johnhamelink opened #106 "If TERM is not set as xterm or something similar, DB.Repo doesn't work"
I was also experiencing this error in exrm, for what it's worth :smile:

### Steps to reproduce

- Install [termite](https://github.com/thestinger/termite/)
- Deploy a distillery release that includes Ecto onto a server
- SSH in
- `/opt/<app>/bin/<app> remote_console`
- Press `tab`, `up`, `down` to see how the REPL behaves differently
- Attempt to get something from the repo

Now to show the fix:

[2016-10-10 19:35] spscream commented on #106
had the same issue with in-docker setup

[2016-10-10 20:47] mariosangiorgio opened #108 "Match error when setting include_erts and include_system_libs to paths"
Hello,

I have a configuration I'd like to use to package an application with the version of `erts` and of the libraries needed by my Raspberry Pi. It looks like the following:

[code]

`erlang_rpi` contains a copy of the libraries I grabbed from the Raspberry Pi installation.

When I try to run it, I get a match error. It looks like setting strings for `include_erts` and `include_system_libs` is

[2016-10-11 00:28] bitwalker commented on #106
The problem is that I'm not entirely sure what valid values of TERM will work as expected here. I set `TERM=xterm` in my containerized environments, but I'm not sure it's a good idea to do that in the release script for everyone. However, we can probably safely set it to `xterm` if TERM is unset.

[2016-10-11 00:34] bitwalker commented on #103
Yes you need to add `:asn1` and the others to your applications list (either in `mix.exs` or `rel/config.exs`) for them to be present in the release. Distillery prints a warning about this if your application depends on something which will be omitted from the release, however it looks like your `amqp` dependency has failed to list `:asn1` and others as applications it depends on in it's `.app` fi

[2016-10-11 00:34] #103 closed

[2016-10-11 00:35] #97 closed

[2016-10-11 00:36] bitwalker commented on #87
Have you tried this with 0.10?

[2016-10-11 00:36] #96 closed

[2016-10-11 00:37] bitwalker commented on #106
I've set the boot script to set `TERM=xterm` if `TERM` is unset, that's about the best we can do here.

[2016-10-11 00:37] #106 closed

[2016-10-11 00:38] bitwalker commented on #81
@schnittchen That's an interesting idea I hadn't considered. Do you have thoughts on what an adapter API might look like?

[2016-10-11 00:41] #100 closed

[2016-10-11 00:41] bitwalker commented on #108
It's likely a bug, I'll take a look ASAP

[2016-10-11 00:42] #89 closed

[2016-10-11 06:59] mariosangiorgio commented on #108
I tracked the issue down to something here
`[corrected_app_path] = Path.wildcard(Path.join(lib_dir, "#{a}-*"))`

[code]

This is the content of the folders
[code]

It looks it's looking into `../erlang_rpi/erts-8.0.1/lib`, which doesn't have anything matching the pattern. Does the folder contain the expected content? I might have done something wrong getting the libraries.

[2016-10-11 07:19] schnittchen commented on #81
I assume distillery is fetching/pushing named release files and doing something like "is there a release of version X? What versions are there?" which for flexibility could be just "tell me all the filenames you see, I'll parse them myself"

[2016-10-11 13:04] CrowdHailer opened #109 "Task permanently changes terminal colours"
### Steps to reproduce

Simply running the `mix release` task. This issue occurs in a demo project I have been working on that uses vagrant. Cloning at [this commit](https://github.com/CrowdHailer/baobab.ex/commit/257c8fa9e08ecb11c3cadef64299a7fd7ae88f70), should allow exactly the same environment to be created
### Verbose Logs

[code]
### Description of issue
- When running the mix release task t

[2016-10-11 13:09] CrowdHailer opened #110 "contributing guidelines"
This issue is not a bug report so it doesn't necessarily belong here. I would like to suggest a link on the README which shows people how to ask questions or see a FAQ. The exrm slack channel might do, all though its lack of history is annoying for the purposes of generating a FAQ.

The question that I wanted to ask in such a forum was. should the the `rel` directory be added to .gitignore. It sea

[2016-10-11 20:51] bitwalker commented on #110
That's a good idea, I'll add some pointers in the README.

To answer your question, I add `rel/<release-name>` to my `.gitignore`, that way all of my core release config files (config.exs, vm.args, etc.) are source controlled, but the release artifacts are not. Those artifacts will be moving to _build soon though, so it will be less of a concern at that point.

[2016-10-11 20:52] bitwalker commented on #109
I just had this happen to me today, something in the logger must have left off a trailing reset.

[2016-10-11 20:55] bitwalker commented on #108
You're right, that does appear to be the problem. I've pushed a fix to master, could you give it a shot?

[2016-10-11 22:31] mariosangiorgio commented on #108
I'm still having issues. I think that the root cause of the problem is that different parts of the code expect `include_erts` to be set to different things. Some expect it to be set to  `"../erlang_rpi/erts-8.0.1/"` while other wants it to be `"../erlang_rpi"`.

Can you confirm with me what is the expected path in this case? I am assuming the first is correct and I am going to make my local master

[2016-10-12 10:37] aphillipo opened #112 "Documentation Suggestions for .gitignore and duplicate module names"
### Steps to reproduce

These are documentation suggestions:

1) It should be clear what I should .gitignore
2) Duplicate modules in applications should have a discussion in the FAQ.
### Verbose Logs

If you want me to add either of these I can write something I'm sure.
### Description of issue

Duplicated modules should display a message suggesting that one of the package authors stop having conf

[2016-10-12 12:26] spscream commented on #76
@martin-langhoff hm, tried to use hooks implementation with busybox shell inside of alpine:edge docker container, and `read` command returns `read: line 723: illegal option -d`, do you know is there any alternatives to replace `read` command?

[2016-10-12 12:34] spscream opened #113 "hooks is not working with busybox shell, which is default shell inside of alpine linux"
If you run release inside of docker alpine:edge container, hooks will not run with error:
[code]

it caused by these line:
[code]

read on busybox shell doesn't support -d option, so we need to find some alternative solution.

[2016-10-12 14:37] spscream commented on #113
@bitwalker, @martin-langhoff, may be we could strip characters from filenames on overlay copy step? so in release hooks dir all filenames with escapes, spaces and other problematic characters will be replaced with '_' char and naive approach without usage of  '\0' line delimiters would work?
I don't want to install bash in my docker-containers

[2016-10-12 14:49] martin-langhoff commented on #76
Gah, I wasn't expecting ~~the Spanish Inquisition~~ busybox! From what I see, it uses `ash` (or a variant thereof).

From an initial look-around, I don't spot any good alternatives (IFS can't handle null, there's no `ash` mailing list or irc channel to ask ideas, limited docs...). Maybe we can rig something up using `find ... printf "%q"` but I doubt we'll get what we want portably.

What follows

[2016-10-12 14:56] martin-langhoff commented on #113
How 'bout `dash`? :-)

[2016-10-12 15:20] spscream commented on #113
I could use any shell, but it will be not a portable solution - someone could use busybox, and after upgrading distillery hooks will not work.
The following works for me in any shell, but I don't know about possible cons of this:
[code]

[2016-10-12 15:57] martin-langhoff commented on #113
Works for me (testing across directories with oddly-named files) with minor tidyups... I think we have a winnner.
[code]

[2016-10-12 20:39] spscream commented on #76
Currently we use msaraiva/elixir as a base image to run our releases, surely I could make a base image based on it with bash installed, but it will be additional layer to receive from docker registry, and this is only case then we need bash inside of it, so better than additional layer is a right script working everythere :)

[2016-10-12 22:00] bradleyd commented on #103
yeah, the odd thing is it used to work.  I will start looking over at amqp.  Thanks!

[2016-10-13 00:18] bitwalker commented on #113
Looks good, I use alpine in production (via Docker), so I should have some opportunity to see if this causes problems.

[2016-10-13 00:18] #113 closed

[2016-10-13 00:19] bitwalker commented on #112
@aphillipo Great suggestions! I'll add this to my todo list.

[2016-10-13 00:22] bitwalker commented on #76
Given that we've gotten this far with `sh` compatibility, I'd prefer to maintain that. If it becomes too much of a problem, I'm ok with switching to `bash`, but it looks like for now we're probably fine. I'm going to close this since this feature has been merged (as well as the fix for busybox).

[2016-10-13 00:22] #76 closed

[2016-10-16 10:07] aphillipo opened #116 "Static assets in priv/static not included in release"
### Steps to reproduce

Create a release (MIX_ENV=prod mix release --env=prod) should include the priv/static directory and files

### Verbose Logs

==> Packaging release..
==> Archiving pay_pip-1.0.3
==> Writing tarball to rel/pay_pip/releases/1.0.3/pay_pip.tar.gz
==> Updating tarball
==> Tarball updated!
==> Release successfully built!
    You can run it in one of the following ways:
      Inter

[2016-10-17 08:06] SillyMoo opened #117 "Running release with a cookie fails."
### Steps to reproduce

I created a release of a phoenix app using the steps defined in the docs, using the default cookie created by init.
I then run untar the release, and again run it as described in the docs.
### Description of issue

When running with the set cookie enabled in the release I see the following error (note built and run on Mac OS X):

/Users/cmills2/tmp/erts-8.1/bin/beam.smp unk

[2016-10-17 19:24] spscream commented on #92
@bitwalker I can take this, if you want

[2016-10-19 08:26] aphillipo commented on #116
I am a spaz. If you don't add the priv/static directory to github it won't be included in travis for the build 😡

I'll close this and write a comment in the other bug I filed!

[2016-10-19 08:26] #116 closed

[2016-10-19 08:28] aphillipo commented on #112
Please include in the docs the idea that the priv/static directory should be in your github if you are doing deployment from something like travis-ci.

By default with phoenix it's not included in git and therefore not the release!

[2016-10-19 09:42] AndrewDryga opened #118 "Read `start_permanent` from mix.exs"
Right now Distillery (and exrm) ignores `start_permanent` option in mix.exs and this behavior is ambiguous for most of developers that I know (few project in production have issues because of it).

Of course, we can add bold text that "you should set application type in `rel/config.ex`", but other option is more developer-friendly - to read application start type from Mix.exs and use it as default

[2016-10-19 16:39] GalaxyGorilla opened #120 "Equivalent to $RELEASE_CONFIG_FILE from exrm"
Hey,

I used exrm for some time and was used to the env variable $RELEASE_CONFIG_FILE to point to my production config. Is it still there or maybe some equivalent variable?

At https://hexdocs.pm/distillery/shell-script-api.html#environment-variables I cannot see something like that apart from $RELEASE_CONFIG_DIR.

EDIT: After some time playing around I have to say that distillery left a really po

[2016-10-19 22:07] midas opened #121 "[Question] Custom VM args per release, not env"
Hi @bitwalker.  I am really enjoying distillery thus far.  It feels very RIGHT.  Thanks for all of the hard work!

I have an umbrella project where I want to have a custom `vm.args` file for each defined release.  This is beacuse the contents are as follows:

[code]

I am setting the node name and some other important stuff for my nodes to communicate in my environment.  The option for providing a

[2016-10-19 23:36] midas commented on #121
@bitwalker I finally digured this out.  Here is the segment of my `rel/config.exs` that set it up:

[code]

With a `rel/templates/vm.args.eex` that looks like:

[code]

[2016-10-25 19:04] bitwalker commented on #121
You can use `set vm_args: "path"` in both the environment and release definitions - so if you have multiple release definitions, I would set it there instead of under the environment. However overlays work better for things which are more dynamic like this, as you discovered.

[2016-10-25 19:04] #121 closed

[2016-10-25 19:05] bitwalker commented on #118
The top-level application in a release will always be started as permanent, so this setting doesn't actually apply to releases. Was there a specific issue you encountered?

[2016-10-25 19:27] AndrewDryga commented on #118
In some of our workers when connection pool is overloaded, GenServer (it is added to a application supervisor as worker) will fail due to pool connection timeout. This failure results in `reached max restart intensity` error, then application supervisor should fail and kill erlang vm, but it lives with dead GenServer and application is not working.

[2016-10-29 10:57] dropfen commented on #74
+1 for docker

[2016-10-30 07:56] revati opened #127 "Missing .rel when building upgrade release"
[code]

Why `rel/app/releases/app.rel/app.rel` path is used? There is file in path `rel/app/releases/app.rel`

If i specify `--upfrom=0.0.4` it works.

[2016-10-30 13:26] michalmuskala opened #128 "Add easy way of configuring plugins"
Today, most of the plugins, I've seen are configured by adding stuff to `mix.exs`, but I don't think this is a good option, since distillery has it's configuration infrastructure in `rel/config.exs`.

Unfortunately there's no way of passing options to the plugins. The ideal way would be passing a keyword to the `plugin` - this seems the most natural option.

[code]

The harder part is figuring out

[2016-10-30 13:29] michalmuskala commented on #82
If we do this - does it make sense to keep the `rel` directory at all? The only thing in there would now be the config file. Wouldn't a better place for this config be, for example, `config/rel.exs` or even `config/release.exs`?

[2016-10-30 17:08] AndrewDryga commented on #82
+1 for `config/release.exs`

[2016-10-30 23:44] coryodaniel commented on #56
Hey guys, I see that all the tickets around this are merged and closed. I'm using the master branches of distillery and conform and having the same issues as outlined above. Is there anything that need to be changed in the configuration to get this to work? I set up a demo app of the [failure](https://github.com/coryodaniel/distillery_umbrella_conform). I also made some [comments](https://github.c

[2016-10-31 01:06] martin-langhoff commented on #56
Right now`master` is a bit out of sync between distillery and conform. The hooks API is a bit ahead in distillery, and the matching changes are pending in conform.

Perhaps try the latest tagged of each, I think that combo is working reasonably well (I'm in the midst of testing exactly that :-) ).

[2016-10-31 10:29] johannesE commented on #74
It seems to me that I'd lose the built-in upgrade mechanism if I use docker this way. I'd have to reinvent the wheel with docker machines (one container taking over from the other, losing all data which was in memory, ...). Am I wrong?

[2016-10-31 11:48] dropfen commented on #74
@johannesE not necessarily.
Docker is just a container, where your app runs. So instead of deploying the whole container, one could just deploy the release to that container, and the app would take it and upgrade itself.
But sure, deploying an image, would result in losing state of the old container, thats true.

[2016-10-31 12:25] johannesE commented on #74
@dropfen That is a good idea, yes, thank you. I only had a crash course in docker and mistook container for image. So what you are proposing is to prepare a container and run it on production. The upgrade process would work as usual inside that container (e.g. git pull, build release, upgrade) (or copy the tar into the container, and upgrade). I'm gonna have to try this tonight. 🙃

[2016-10-31 12:34] gaynetdinov opened #129 "Setting cookie"
### Steps to reproduce

Put into `rel/config.exs` the following
[code]

Inside `rel/vm.args/my_env` set different cookies, like `bar`.

Deploy a release with such settings.

### Description of issue

Once deployed, a release will be using cookie name `bar` from custom `vm.args` file. Cookie name from `environment` block will be ignored. The issue is that if I remove `cookie: :foo` from `environmen

[2016-10-31 12:35] merqlove commented on #74
@johannesE i think upgrading from prebuilt tar in this case is better (safe way).
--
Best regards,
Alexander Merkulov

[2016-10-31 12:50] spscream commented on #129
What param do you set in vm.args? Since this warning should be fixed by this commit: https://github.com/bitwalker/distillery/commit/b15c1071e97075431ae83f5d0f9b6feac25b7e17

[2016-10-31 12:51] gaynetdinov commented on #129
@spscream I set cookies in my custom `vm.args` file like this `-setcookie bar`

[2016-10-31 14:15] dropfen commented on #74
Additionally if some one is interested, there is this platform *flynn*. Its based on docker and gives you a lot of nice tooling. (postgres, git-receive, clustering)

Here is an article about phoenix deployment with flynn:
http://nsomar.com/how-to-use-flynn-to-deploy-a-phenix-app/

For now, there is only one heroku buildpack for phoenix, which you can use to deploy your app, but its imaginable how

[2016-10-31 15:10] coryodaniel commented on #56
@martin-langhoff I was using the hex versions that are the same version numbers as the newest tags, I just switched to using the tagged versions in case they were different (tags 0.10.1, 2.1.1). Still seeing the same thing? Is there a different branch/tag I should be looking for?

[2016-10-31 18:05] revati commented on #127
Now it just works :| So this is irrelevant

[2016-10-31 18:05] #127 closed

[2016-10-31 18:17] martin-langhoff commented on #56
@coryodaniel your opening post mentioned being on `master`. AFAICS this stuff works, you might need to try seeing whether you can repro your bug, perhaps from the `exrm-umbrella-test` project.

For example, I've used this... https://github.com/martin-langhoff/exrm-umbrella-test/tree/more-interesting.

[2016-10-31 18:30] coryodaniel commented on #56
I was originally making comments on another ticket where someone was having the same issues, I tried both masters, both latest tags, and both releases in hex.

Here is a demo app w/ the failure -> https://github.com/coryodaniel/distillery_umbrella_conform

Here is a screenshot of the release folder, missing the *conf files.
<img width="333" alt="66ffceda-9eaf-11e6-9adb-e57d6c23b321" src="https://c

[2016-10-31 20:17] bitwalker commented on #82
I've had the discussion about the usage of `rel` vs `config` numerous times in issues here already, but the gist is this: `config` is for runtime configuration, release configuration does not belong there, and often has other dependencies specific to release (such as a custom vm.args or sys.config, or others), grouping those things together in one place is the purpose of `rel`. The usage of `rel`

[2016-10-31 20:47] #82 closed

[2016-10-31 21:12] bitwalker commented on #128
What about something more like what exists in `config/*.exs`, such as the following example:

[code]

Then I'll use `PLUGIN.__info__(:functions)` to check to see if that plugin exports `callback/oldN+1`, if so, I'll pass the configuration proplist as the second argument, if not, then the plugin won't receive the second argument. For backwards-compatibility, plugins can expose both callbacks, and u

[2016-10-31 21:15] bitwalker commented on #120
@GalaxyGorilla Thanks! So you have two options, the most direct equivalent is `$SYS_CONFIG_PATH`, but you can also store *all* release files in an external directory using `$RELEASE_CONFIG_DIR`, which will expect `sys.config`, `vm.args`, etc., but will fallback to the release directory for those as needed.

[2016-10-31 21:15] #120 closed

[2016-10-31 21:19] bitwalker commented on #129
@spscream It's a warning at build-time, not runtime.

@gaynetdinov The reason why that warning exists is because we can't know (without parsing the custom vm.args file), whether you've provided your own cookie. I would suggest leaving the generated one, or just put something like `set cookie: :placeholder`, which indicates you are providing one of your own accord.

I could add a setting to silence

[2016-10-31 21:19] #129 closed

[2016-10-31 21:20] bitwalker commented on #118
@AndrewDryga Do you have an example app I can use to reproduce?

[2016-10-31 21:23] bitwalker commented on #117
Could you provide the generated `vm.args` from your release? It looks like it has the value as flag set as `-<cookie>` instead of `-setcookie <cookie>`

[2016-10-31 21:23] #109 closed

[2016-10-31 21:23] bitwalker commented on #109
Fixed in master

[2016-10-31 21:28] bitwalker commented on #74
Just to chime in here, but if you opt-in to using Docker for deployment, you implicitly opt-out of hot upgrades (using the Erlang release mechanism that is, you can still do things like A/B or blue/green deployments). They are fundamentally incompatible. This tradeoff is perfectly fine, but if you need hot upgrades for some reason (which I would generally challenge, as not many situations *really*

[2016-10-31 23:01] coryodaniel commented on #74
@bitwalker In the case you were doing web socket connections you would need to hot upgrade so that users wouldn't see a service interruption, correct?

[2016-10-31 23:11] bitwalker commented on #74
@coryodaniel Depends on how your application is written, it's far easier to have websocket clients reconnect if they are disconnected for some reason, which would result in effectively zero service interruption (I suppose this may depend on the use case as well, but I don't have a good contrary example at the moment). Another approach is to drain connections from one server to another, and then sh

[2016-10-31 23:30] coryodaniel commented on #74
@bitwalker connection draining is a good simple solution!

[2016-10-31 23:36] merqlove commented on #74
Also, with Phoenix you have auto reconnect option.

Best regards,
Alexander Merkulov

[2016-11-01 00:04] coryodaniel commented on #56
So I ran this branch https://github.com/martin-langhoff/exrm-umbrella-test/tree/more-interesting and got the following...

A config file in the 'master_app'
<img width="556" alt="screen shot 2016-10-31 at 5 01 25 pm" src="https://cloud.githubusercontent.com/assets/11587/19875661/d996c8c2-9f8b-11e6-8df4-8494d95fddbc.png">

but it looked like that branch wasn't configure for doing an umbrella, so I

[2016-11-01 00:11] bitwalker commented on #56
I've been working on some changes today:

- In distillery master, release output is now in _build
- In conform master, it now uses overlays + the new `pre_start.d` hooks directory,
  so you no longer need to set the `pre_start_hook` config setting in your release config.

I can start looking into this more, but I've been trying to clean up a few other pending tasks. @martin-langhoff is your exrm-u

[2016-11-01 00:14] bitwalker commented on #110
Just an update here about your question, but build output is now being placed under `_build` by default (in master), rather than `rel`, so you can now just source control all of `rel`.

[2016-11-01 00:16] coryodaniel commented on #56
@bitwalker let me know if there is anything I can help with. Really dig both of the bullet points above! 👍 👍

[2016-11-01 00:18] #110 closed

[2016-11-01 00:23] #112 closed

[2016-11-01 00:53] coryodaniel commented on #56
@bitwalker the 'more-interesting' branch on @martin-langhoff's repo has been ported to distillery if you want to use it. The only thing I had to add to it was a release in `rel/config.exs` for the umbrella. It currently only has releases for the individual apps.

My app is boring and only has one app in the umbrella, I can make a less trivial example if that helps (not sure if more complicated any

[2016-11-01 08:16] michalmuskala commented on #82
Makes sense, thank you.

[2016-11-01 09:51] michalmuskala commented on #128
We don't need to use `Mod.__info__/1` - we can use the `function_exported?/3` BIF.

I was thinking about using `config`, but ultimately proposed something else because of one thing - when somebody sees: "put that in the config", they will put it in `config/config.exs` and not in `rel/config.exs` and it will cause a lot of confusion. The `plugin` thing is unambiguous - it works only in the release

[2016-11-01 11:41] johannesE commented on #74
So I managed to implement a first solution. You can find it here: https://gist.github.com/johannesE/7ee81d90d0934a70bd14350c562c9366
The upgrade process is not in there yet. It basically just runs the application with a postgres database.

[2016-11-01 12:00] aphillipo commented on #112
Absolutely nailed it - great news about moving releases to _build.

Will there be upgrade instructions as to how to move things to the new directory structure?

Amazing work on this project; thank you so so much!

[2016-11-01 14:29] dropfen commented on #74
@bitwalker whats the problem with upgrading the release inside the container, if the production container is just the runtime wrapper, which has access to the `rel/` folder. I mean just a simple alpine container, which runs the application in its scope.

I mean the builder (container), could build the release local or on the server, at the end the production container could just take the new relea

[2016-11-01 16:38] bitwalker commented on #128
The parallel to `plug` is a good point, it's familiar, and won't get confusing in documentation as you've pointed out.

Good call on `function_exported?/3` by the way, I knew something like that existed, but could not recall the name, thanks for the reminder :)

I'll add this to the TODO list!

[2016-11-01 16:41] bitwalker commented on #81
@schnittchen Would you mind opening a new issue with that as a feature request? It'll be easier to track there and we can open it up to discussion as an RFC of sorts.

[2016-11-01 16:41] #81 closed

[2016-11-01 16:51] bitwalker commented on #74
@dropfen My opinion is that Docker-based/containerized applications are meant to be immutable, i.e. easily replaced, treated as cattle vs pets. Hot upgrades in Erlang are very much of the opposite mindset, in other words, they are treated as pets vs cattle, generally manually managed, and the upgrades are themselves carefully designed/curated.

The fact that changes to the filesystem/environment i

[2016-11-01 16:55] bitwalker commented on #74
@johannesE Your example does not use releases, so it's not particular well suited for Distillery's documentation. Here's an example Dockerfile similar to what I use in production at work:

[code]

We have a CI process which automatically builds and publishes the images to a repository, which in turn triggers deploys to dev. How you set that part of it up really depends on your infrastructure.

[2016-11-01 18:25] bitwalker commented on #56
So I've updated `exrm-umbrella-test` (it is now `distillery-umbrella-test`) with @martin-langhoff's changes, and updates to reflect conform master, as well as fixed a bug I found in Distillery's handling of copying apps (unrelated to this issue though). I've determined the source of the issue, which is that if the name of the release does not match the name of an app in the umbrella, no config wil

[2016-11-01 18:28] #73 closed

[2016-11-01 20:38] #128 closed

[2016-11-01 21:06] dropfen commented on #74
@bitwalker Thank you for your response.

Thats true, but my suggestion was to use the container, which would access the shared volume with the latest releases in it and run it. So there would be no state in the container, it would be just the runtime environment. And if it crashes, just run it again. We could then share some release history.txt with the latest and previous release information. Aft

[2016-11-01 21:50] coryodaniel commented on #56
Ran the example and got 8090 as `:app_one`'s port. In that release `--profile=master_app:prod` we are only releasing a single app (with library app dependencies) in the umbrella though correct - not the whole umbrella "UmbrellaTest"? Just want to make sure I'm following.

So funny thing, when I noticed this wasn't working my first thought was that I probably had to add a schema and extend all of m

[2016-11-01 23:22] bitwalker commented on #74
What you suggest should work in theory, but I guess my take on containers is that they aren't particularly appropriate for apps like that (see the whole discussion around 12 factor apps, particularly [this page](https://12factor.net/processes) for the point of view I'm coming from).

My primary reasons for using containers/Docker in the first place is for the purpose of automation/orchestration, a

[2016-11-01 23:29] bitwalker commented on #56
Well in the example project, `master_app`, `app_one`, and `app_two` are all fully supervised OTP applications, `master_app` depends on `app_one` and `app_two`, so building a release of `master_app` effectively builds a release of the entire umbrella. That's obviously only true of the example app though, not every umbrella will have such a structure, it just happens to be in this case.

The schema.

[2016-11-02 00:24] dropfen commented on #74
Got your points, thank you for taking the time to explaining it. I guess my (current) cases are not that demanding. I am just trying to run everything in containers on a single host, and linking them together, so upgrading inside a container would work, if needed. If I would have to manage a node cluster, the clean VM way would make more sense to me also.

[2016-11-02 09:26] johannesE commented on #74
After reading all that stuff about hot upgrades (thank you!), I think we should rather do a [chef](https://learn.chef.io/) documentation..

[2016-11-02 13:05] aphillipo opened #131 "Document moving from rel/ to _build/"
Is there clear documentation on moving/upgrading from the current rel directory to _build?  Be good because I have a feeling everything may break :-)  Ta!

[2016-11-02 14:43] bitwalker commented on #131
The documentation has been updated to reflect the change, and the new `output_dir` config setting has also been documented. Other than the new root path, everything about the filesystem layout is the same, and you can effectively change back to `rel` with `set output_dir: "./rel/myapp"` in your `config.exs`. Is there anything else you'd like to see in the docs?

[2016-11-02 17:20] bitwalker commented on #92
Now that #123 is merged, all that's needed is for conform to tie in to the new hooks to handle the configs correctly

[2016-11-02 17:20] bitwalker commented on #92
I'm going to close this, since the issue with Distillery itself has been resolved. I'll track this in the conform repo.

[2016-11-02 17:20] #92 closed

[2016-11-02 17:42] aphillipo commented on #131
No that sounds perfect.  I will try this now.

[2016-11-02 17:42] #131 closed

[2016-11-02 23:36] coryodaniel commented on #56
@bitwalker sounds like a good approach. I'll have some time to give it a swing on Saturday if you don't have time to get around to it

[2016-11-04 18:22] bokay commented on #87
@bitwalker I've just tried with version `0.10.1` and ran into the same issue.

[2016-11-04 19:56] bokay commented on #87
Hi @bitwalker

Sorry for the delay. I've tried with the last version of distillery and confirm that the bug is still present.

If I understand correctly, I think you are running the same version Erlang version on your machine as on the docker image.
I think the issue is located here : https://github.com/bitwalker/distillery/commit/9ebc0208aeb373d068c4625dbf6addf312d6b755#diff-8e1a1749b553223a5202b

[2016-11-06 22:43] Valentin-Seehausen commented on #59
I still have the same issue with 0.10.1.

[2016-11-06 23:08] bitwalker commented on #59
@Valentin-Seehausen Which issue specifically?

[2016-11-06 23:15] Valentin-Seehausen commented on #59
The release will start with _console_ or with _foreground_, but it wont start with _start_.

Just checking the shell script, it seems, that the VM gets restarted on _console_? Interestingly, when I restart the server and my start script jumps in, it will start the node.

[2016-11-06 23:19] Valentin-Seehausen commented on #59
Ah and the erl_crash.dump doesnt say a word.

I use edeliver do deploy the release to the server. And to pack the release.

[2016-11-06 23:20] bitwalker commented on #59
@Valentin-Seehausen I'm not sure I follow, `console` doesn't restart the VM. I'm also unclear what you mean by restart here, since if you can't `start` the node, there shouldn't be anything to restart.

What OS are you building the release on? And can you confirm that you are for sure using `0.10.1` in your `mix.lock`?

If you have a chance, could you give master a shot and see if it works for you

[2016-11-06 23:21] bitwalker commented on #59
Could you gist the `erl_crash.dump` file? If you're using edeliver, and you use master, you may have to put `set output_dir: "rel/myapp"` in your `rel/config.exs` so that edeliver can pick up the output artifacts.

[2016-11-06 23:25] Valentin-Seehausen commented on #59
Thanks for the fast replay. Amazing :)

I am absolutely sure about 0.10.1: (See attached)

I will configure my output_dir and afterwards try out your master. How do I do that? .. :)

[code]

[2016-11-06 23:32] bitwalker commented on #59
Just add the following to your deps for `distillery`:

[code]

Then run `mix deps.update distillery`. Then add the `output_dir` setting in your release definition in `rel/config.exs`. Then you should be good to go.

[2016-11-06 23:36] Valentin-Seehausen commented on #59
[code]

like this in rel/config.exs?

[2016-11-06 23:49] bitwalker commented on #59
Like so:

[code]

[2016-11-06 23:51] Valentin-Seehausen commented on #59
This is what I am actually doing.

[2016-11-06 23:52] Valentin-Seehausen commented on #59
It fails for edeliver.

[code]

[2016-11-06 23:56] bitwalker commented on #59
Run `mix deps.update distillery` and try again. Edeliver was relying on a key which has been deprecated, but I added it back for compatibility. I'll let them know so they can switch over to the new key.

[2016-11-06 23:57] Valentin-Seehausen commented on #59
Still the same.

[2016-11-06 23:58] bitwalker commented on #59
Run `mix deps.compile distillery`, it's definitely there in HEAD.

[2016-11-07 00:00] Valentin-Seehausen commented on #59
Works.

[2016-11-07 00:01] bitwalker commented on #59
Good to know. I'm planning on cutting 1.0 soon, but I would suggest using master until then, should be sometime this week or next.

[2016-11-07 00:06] Valentin-Seehausen commented on #59
Ok, but the initial issue remains.

[2016-11-07 00:08] bitwalker commented on #59
Oh, sorry, figured when you said it works that meant the original problem as well. Can you reproduce without edeliver? Just creating the release and running it?

[2016-11-07 00:17] Valentin-Seehausen commented on #59
I can reproduce it locally, but I am not sure if this is related to distillery:

[code]

[2016-11-07 00:19] bitwalker commented on #59
Ah, well that problem is due to Phoenix's code reloader being included in the release, when it can't be; you need to disable it for whatever environment you are building the release for. By default it's only enabled in dev, so you could try `MIX_ENV=prod mix release` which would disable it. You can also disable it in `config/dev.exs` IIRC>

[2016-11-07 00:23] Valentin-Seehausen commented on #59
Thats right. It is working locally now. I cant reproduce the issue locally.

[2016-11-07 00:23] Valentin-Seehausen commented on #59
So it must be something related to edeliver, I guess.

[2016-11-07 00:25] bitwalker commented on #59
@Valentin-Seehausen Can you try reproducing in the environment where you were experiencing the issue? I'm assuming that you were deploying with edeliver and seeing the issue in the deployment target, which maybe was in fact your local machine, but I just want to make sure it's not an OS-specific thing.

[2016-11-07 00:25] bitwalker commented on #59
I suspect the issue was just the code reloader, but if you can confirm that it's not reproducible without edeliver, then that gives us a place to focus.

[2016-11-07 00:27] Valentin-Seehausen commented on #59
I try to reproduce it. I deploy it with MIX_ENV=prod on the build machine, so this shouldn't be the issue.

[2016-11-07 00:36] Valentin-Seehausen commented on #59
I cant find the crash_dump...

[2016-11-07 00:43] Valentin-Seehausen commented on #59
Ah ok, seems quite edeliver related, because i can __start__ the release from the release store, but not from the release storage of the staging server. Is that clear enough?

`/tmp/edeliver/imagine/builds/rel/imagine/releases/0.0.1+master-a1c81ec/imagine.sh start` works
`~/imagine/staging/imagine/releases/0.0.1+master-a1c81ec/imagine.sh start` does not work

[2016-11-07 01:01] Valentin-Seehausen commented on #59
Info: I have the build and staging host at one machine.
Info: running the start command in the staging directory with sudo will work. So maybe it is a permission issue? Would you have a solution?

[2016-11-07 01:01] bitwalker commented on #59
Interesting, perhaps it's a symlinking issue? I noticed edeliver has a plugin to repack the release with symlinks preserved, but if the link is relative and not absolute, I suspect that would cause strange issues

[2016-11-07 01:03] bitwalker commented on #59
Without knowing how the permissions are set, I can't say for sure, but the release will need rights to create `$HOME/.erlang.cookie` on first boot, and rights to access it from then on

[2016-11-07 01:05] Valentin-Seehausen commented on #59
The permissions are set the same, and I dont think there is a symlink.

[2016-11-07 01:06] Valentin-Seehausen commented on #59
Maybe it is because the machine is hostet by Azure (Microsoft Cloud). Had only problems with that. (But for this case it seems unrealistic).

[2016-11-07 01:10] bitwalker commented on #59
I wouldn't expect that Azure is the problem since it works from one directory, but not the other.

@bharendt Any thoughts?

Could you set `DEBUG_BOOT=true` when running the release? It will tell us exactly where the boot script fails.

[2016-11-07 01:12] Valentin-Seehausen commented on #59
Ah, there we have the output.

[code]

[2016-11-07 01:19] Valentin-Seehausen commented on #59
Ok, a working solution is, to move the staging folder into /tmp/imagine/staging/.

I dont know why this works, but moving it out of the users home folder seems to work.

But: I will adjust my start script to this folder and see, if it makes any difference.

[2016-11-07 01:22] bitwalker commented on #59
Based on that output, it's failing after booting the release. Could you check in `var/*.log` relative to the release root, there should be something there which can help narrow things further.

[2016-11-07 01:29] Valentin-Seehausen commented on #59
does this help?
[code]

[2016-11-07 01:30] Valentin-Seehausen commented on #59
Looking right now

[2016-11-07 01:32] Valentin-Seehausen commented on #59
Cant find it.

[2016-11-07 01:39] Valentin-Seehausen commented on #59
hm ```
run_erl [15162] Mon Nov  7 00:59:26 2016
Args before exec of shell:
run_erl [15162] Mon Nov  7 00:59:26 2016
argv[0] = sh
run_erl [15162] Mon Nov  7 00:59:26 2016
argv[1] = -c
run_erl [15162] Mon Nov  7 00:59:26 2016
argv[2] = exec "/home/valentin/imagine/staging/imagine/bin/imagine" "console" --

[code]

[2016-11-07 01:40] bitwalker commented on #59
Nothing in the erlang log files?

[2016-11-07 02:12] Valentin-Seehausen commented on #59
Nothing helpful, I am afraid.
[code]

[2016-11-07 10:21] Valentin-Seehausen commented on #59
Ok, when I restart the machine, it is possible to start the release once. I open a issue at edeliver...

[2016-11-07 19:00] bharendt commented on #59
The problem seems to be caused by invalid cookies, see https://github.com/boldpoker/edeliver/issues/168#issuecomment-258899687.

If an erlang cookie [is generated by distillery](https://github.com/bitwalker/distillery/blob/16e2159b4b6296c190bca296c577d71427421a86/lib/distillery/tasks/init.ex#L145) which contains invalid characters, e.g. a leading dash (`-`) the `-setcookie` option of the [`erl` co

[2016-11-07 19:27] bitwalker commented on #59
@bharendt Nice find! I've pushed a commit which prevents cookies from being generated with a leading `-`. That was one case we didn't test with unfortunately :(

[2016-11-07 19:37] bharendt commented on #59
The problem seems to be caused by [`init:get_argument(setcookie)`](https://github.com/erlang/otp/blob/86d1fb0865193cce4e308baa6472885a81033f10/lib/kernel/src/auth.erl#L274). It looks like there are more "invalid" characters, e.g. the plus sign (`+`):

[code]

[2016-11-07 20:50] bitwalker commented on #59
Ah yes, `+` is the other one used for passing flags. I've updated the filter to add that one as well. I think that covers all of the invalid characters AFAIK.

[2016-11-07 23:46] coryodaniel commented on #56
Hey, this weekend got away from me. Will def give a swing at this tomorrow!

[2016-11-08 05:43] bharendt commented on #59
👍 Nice, that the default cookie is random now.

[2016-11-08 09:00] andrewtimberlake opened #134 "Undefined applications: [stdlib,kernel]"
Config generated from `mix release.init`

[code]

[2016-11-09 18:46] mvbaffa opened #135 "Docker and Distillery"
Hi,

I am trying to deploy my Distillery package in a Docker container.

My Docker file is like this:

[code]
xec: /app/stone_merchant_monitor/erts-8.0/bin/erlexec -noshell -noinput +Bd -boot /app/stone_merchant_monitor/releases/0.1.0/stone_merchant_monitor -mode embedded -config /app/stone_merchant_monitor/releases/0.1.0/sys.config -boot_var ERTS_LIB_DIR /app/stone_merchant_monitor/erts-8.0/../li

[2016-11-09 19:03] bitwalker commented on #135
The release must be built for the same architecture as your target environment. So if you are running an Alpine container, the release must be built on Alpine.

Here's an example Dockerfile, based on apps I run at work:

[code]

If you export ERTS from an Alpine container, you can build your release outside of Docker, and then mount the release into it. You can also download/build/install Elixir +

[2016-11-09 19:03] #135 closed

[2016-11-09 20:30] mvbaffa commented on #135
When building the container There is an error in the json Dependency. This does not occur when I get or compile in my Red Hat Studio. It generates and the application runs properly.

I have already tried mix deps.compile json, update and clean

[code]

Will I have to change my json package ?

[2016-11-09 21:57] AndrewDryga commented on #118
Unfortunately I don't have ways to reproduce it, but I have logs from production:
[code]

mix.exs:
[code]

rel/config.ex:
[code]

Container is built with MIX_ENV=prod env.

[2016-11-09 22:00] AndrewDryga commented on #118
At this moment its a Kubernates Docker container with has stopped application supervisor but Erlang VM is alive, and it's neither working, nor restarting.

[2016-11-10 02:29] Valentin-Seehausen commented on #59
What do I have to do to apply these changes? Despite deleting the cookie and the _build folder?

[2016-11-10 05:01] Valentin-Seehausen commented on #59
I did: replace the cookie from rel/config.exs to :"abcdefgh", updated and compiled my deps, deleted _build folder and ~/.erlang.cookie from build machine. But the initial problem remains.

[2016-11-10 05:18] Valentin-Seehausen commented on #59
Ah and my ~/.erlang.cookie is something like `FBUGNGNKVQNVQCWHVAQR`. Does this look like a generated cookie from you side?

[2016-11-10 06:29] Valentin-Seehausen commented on #59
My guess is still, that the start and console section of the shell script handle erlang in different ways. I don't know much about .sh scripts, but the start section starts erlang, while the console action does not. And it seems it uses start_erl, while console uses erlexec from the erts-8.1/bin/ folder.

[2016-11-10 11:36] andrewtimberlake commented on #134
If I add `:stdlib, :kernel` to `:applications` then the release builds but that doesn’t seem right.

[2016-11-10 17:52] bitwalker commented on #135
Could you link me to the repo for your JSON dependency? I'd like to do some testing.

[2016-11-10 17:57] bitwalker commented on #59
@Valentin-Seehausen can you put together a project which reproduces this that I can test with? I can say for sure that the existing start/foreground/console stuff all works fine on macOS, Alpine, and Ubuntu.

[2016-11-10 17:58] bitwalker commented on #134
Yeah that's strange indeed. Would you mind giving master a shot? There have been a number of fixes since 0.10.1, and I suspect this may already be resolved.

[2016-11-11 17:10] coryodaniel commented on #56
So, I'm assuming the issue is actually in the conform plugin. I haven't quiet figured it out, but I am still seeing this is in the log when you are building an umbrella.

[code]

Im trying to figure out how how to tell at the plugin level if the `release` received by `before_assembly/1` is an umbrella or not... I'm assuming I'll have to put that into the struct from the distillery side?

[2016-11-11 17:27] coryodaniel commented on #56
So in an [umbrella](https://github.com/coryodaniel/distillery-umbrella-test/commit/d3f935c1f5e15c01b38ff630588418cbbb8b4cef) in the release when you set how the applications should be started (below) if you are listing your one OTP app (master_app) I'm assuming the generated schema and conf should still be all of your apps, right? app_one could have a configuration that needs to be included as wel

[2016-11-11 20:59] coryodaniel commented on #56
Im assuming since we are concat and merging the conf and schema from conf and schema files people are already editing, the actual conf/schema files for the umbrella should probably not be actual files in the repo, probably just made in memory and spit out in the release folder. @bitwalker, thoughts?

[2016-11-11 21:11] coryodaniel commented on #56
I think this might be entirely related to conform's plugin. Here is a link to my [wip](https://github.com/bitwalker/conform/pull/94/files). Should I start a ticket in that repo and link to this one or should we keep this open in case there is distillery related changes?

[2016-11-11 21:35] bitwalker commented on #56
Let's close this one for now and use the PR thread for further discussion on this one. We can reopen this if there is work in distillery which needs to happen.

[2016-11-11 21:35] #56 closed

[2016-11-12 02:39] Valentin-Seehausen commented on #59
I try to host the project on a different host than the build server (have you tried having build and staging/production on on server?). If that doesn't work I sure will put together a project to reproduce the issue.

Thanks for the great support!

[2016-11-12 04:11] Valentin-Seehausen commented on #59
Seems to be working with divided build and production. Maybe the issue occurs, when having build and production host on one machine?

Thanks for the great support!

[2016-11-14 09:48] danturn commented on #134
Heya, I had this issue and have tried with master with the same results :*(

==> One or more direct or transitive dependencies are missing from
    :applications or :included_applications, they will not be included
    in the release:

    :earmark

    This can cause your application to fail at runtime. If you are sure
    that this is not an issue, you may ignore this warning.

==> Failed to bui

[2016-11-14 09:50] danturn commented on #134
not sure if it helps but i had bamboo and json in my included applications bit of mix.exs, if i remove them then the release builds (albeit with a warning about bamboo and json not being included in the release)

[2016-11-14 18:42] coryodaniel commented on #56
If anyone on this ticket is interested, it looks like I have a fix in Conform for this -> https://github.com/bitwalker/conform/pull/94

[2016-11-14 18:53] tmepple commented on #134
Thanks @danturn, I was struggling for hours with this issue.  It wouldn't build even when adding :stdlib and :kernel to applications (as worked for @andrewtimberlake) or building with distillery master.

By following your suggestion and simply removing bamboo from applications my umbrella release finally builds under both master and 0.10.1 without complaining about :stdlib and :kernel.  Also the r

[2016-11-15 09:37] schnittchen opened #136 "[Idea] Adapterize transport and storage of releases"
This came up in #81.

Currently, releases are built on the build server, copied from there to the developer machine, then copied to a production/staging environment and unpacked.

It would be nice to be able to transport over a different channel. This would also allow people to store old releases in a shared location. I could see people to want to use s3 for this, for example.

[2016-11-15 12:41] aphillipo commented on #136
I use this to do the AWS/S3 bit; not idea if it should be done semi automatically with some other system.

https://www.varvet.com/blog/easy-auto-scaling-elixir-deployment-with-aws-and-travis-ci/

[2016-11-15 18:00] mdowell12 commented on #134
FYI, experienced same error running on current master.  I also was releasing with some applications not included in my `mix.exs` file's `applications` section, producing the following warning:

    ==> One or more direct or transitive dependencies are missing from
    :applications or :included_applications, they will not be included
    in the release:

    :covertool
    :earmark
    :ex_doc

[2016-11-15 21:53] bitwalker commented on #134
Is there a reason you all are using `included_applications` instead of `applications`? Looks like there is an issue when using `included_applications`, though I haven't looked into it yet, but you shouldn't be using `included_applications` unless you have an really good reason.

If you omit applications from your applications list, then you should expect to see that warning, and you should also ex

[2016-11-16 02:55] tmepple commented on #134
I'm not using `included_applications` and have included all required applications in `applications` so they are properly copied into the release.

Looking again at this tonight, it's strange but my non-umbrella app properly compiles bamboo into the release and everything works great.  After I refactored the exact same app into an umbrella app in the structure of phoenix 1.3 master (the phoenix par

[2016-11-16 09:44] akurkin commented on #136
do you guys plan to expand distillery to do the "deployment" job, and not just preparing release?

Because I think in current state distillery kinda works like that:
- distillery - generating release
- something else (shell scripts, ci system, etc) - handling release delivery, i.e. store artifact, retrieve artifact, push artifact to the server, etc

What's the end vision of distillery? Being a too

[2016-11-16 09:59] danturn commented on #134
Hi, I'm using included_applications because they don't require starting. Json, for example, doesnt need to be started as an app to be used. I suppose it doesnt hurt to start it anyway so I could try this.

It does seem that everyone here with this problem is using Bamboo though so maybe its only an issue with that?

[2016-11-16 15:39] mdowell12 commented on #134
@danturn for the record, I didn't have Bamboo and still experienced the issue.

[2016-11-16 21:48] brucepom commented on #134
I received the same error this morning.
[code]
I was using Edeliver and for me the solution was to move `:edeliver` to the end of the applications list (this is documented on Edeliver's page so I was aware of it but I'd accidentally added an app after it):
[code]

[2016-11-16 22:47] asgoel opened #137 "Phoenix app packaged on Docker randomly restarting"
### Steps to reproduce

I'm running a packaged Phoenix app on a custom Ubuntu 16.04 Docker image using the same steps you used in your production Alpine image to package up the phoenix app. Looking at my output logs, I'm seeing this every so often in the logs - I know that it can be due to any number of signals, so I'm wondering if there's an easy way to debug exactly what's happening. The rate at

[2016-11-18 00:35] bitwalker commented on #137
Something is sending a signal to your app yeah, you'd need to drop something in the cleanup handler in `bin/myapp` or whatever the name of your boot script, and try to log the signal. Not sure off hand how to do that though. Ultimately you'll have to figure out what is sending the signal to your app though.

[2016-11-18 00:36] asgoel commented on #137
figured it out - was our monitoring software that was killing it. will keep that debugging tip in handy for next time though. thanks!

[2016-11-18 00:36] #137 closed

[2016-11-18 13:44] schnittchen commented on #136
There is value in having release building and deployment integrated, for example it would be possible to make connecting to a remote node more seamless. Currently, deployment knows about the nodes and release handling about cookies. See also https://github.com/schnittchen/ex_proxy_connect.

But there are probably also good reasons for keeping them separate.

Maybe here is not the best place to dis

[2016-11-19 16:37] tmepple commented on #134
I finally solved my issue and got a good working build using bamboo master instead of the latest release 0.7.0.  I think the root of the issue may be bamboo 0.7.0's dependency on httpoison v0.9.  Bamboo master uses hackney instead.

When I test by adding httpoison ~> 0.9 to my deps/apps the error `Undefined applications: [stdlib,kernel]` reoccurs.

[2016-11-20 11:35] michalmuskala commented on #136
I think it's best to keep it separate. The problem with bundling things together is that they require more maintenance and this slows down the development of the core features. By keeping building releases and delivery of them separate we have a higher chance of getting both solved in a quality way instead of getting one big half-finished solution.

[2016-11-21 11:03] brentonannan opened #139 "REPLACE_OS_VARS doesn't work with upgrades"
### Steps to reproduce

- Start a release with `REPLACE_OS_VARS=true`
- Check `Application.get_env` returns interpolated values
- Run an upgrade
- Check same `Applucation.get_env` call

### Verbose Logs

[code]

### Description of issue

- What are the expected results?

ENV vars are interpolated, even if `REPLACE_OS_VARS` required for upgrade

- What OS, Erlang/Elixir versions are you seeing this

[2016-11-21 16:07] meyercm opened #140 "Distributed node name specification"
### Overview / Discussion

I'm a bit confused over configuring a release of a distributed node.  I like the `config.exs` approach and I expected it to be my one-stop shop for runtime configuration, but it seems that I cannot set the node name, while the sister config item, `set cookie: :"<cookie>"` is available.

Once I embraced using a custom `vm.args` to specify the name, I ran into a conflict s

[2016-11-21 22:33] isaksky commented on #59
I just had this issue, and for me the problem was that between using `mix edeliver [start/stop]` on my deploy machine, and doing it via the `start/stop/console/etc` on the binary on the server, I had gotten a process that edeliver could not communicate with anymore. Edeliver would then fail kind of silently. (only way to tell seemed to be that the response field was blank) Fixed by killing the pro

[2016-11-21 22:49] isaksky commented on #59
Looks like I spoke too soon. Looking into it more...

[2016-11-22 00:07] slashdotdash commented on #39
I've stumbled into the `tar_generation_error` bug when attempting to build a release for an umbrella app.

[code]

I added a log statement to capture the `opts` passed to `:systools.make_tar`:

[code]

Any suggestions on how to workaround this issue? I am attempting to use `distillery` with `edeliver`. This requires the tar file to be created on the build host so that it can copied to the producti

[2016-11-22 09:34] Gazler commented on #134
I have experienced this issue. It appears to be something to do with the order in the applications list.

The line that causes the error is https://github.com/bitwalker/distillery/blob/752f0dd1b125dae6fa0cf2626350132b486edd05/lib/mix/lib/releases/assembler.ex#L693

Here is a repo containing the most minimal example I could create that replicates the issue. https://github.com/Gazler/broken_release

[2016-11-22 09:36] Gazler commented on #134
This issue on relx may be relevant https://github.com/erlware/relx/issues/492

[2016-11-22 12:20] slashdotdash commented on #39
@bitwalker Where would I find out more about the filename length limit restriction in systools?

[2016-11-22 16:28] slashdotdash commented on #39
I've tracked down the source of the 100 character limit. It's the `th_name_len ` constant configured in [erl_tar](https://github.com/erlang/otp/blob/maint/lib/stdlib/src/erl_tar.erl#L266). This is called by `split_filename` when writing out the header for each file added to the archive in `create_header`.

[2016-11-23 04:02] jarrodtaylor commented on #87
+1

I'm running into the same issue.

MacOS dev machine:

    elixir --version
    Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]
    Elixir 1.3.4

Arch Linux server:

    elixir --version
    Erlang/OTP 19 [erts-8.1.1] [source] [64-bit] [async-threads:10] [hipe] [kernel-poll:false]
    Elixir 1.3.4

Not running Docker or anything. The `

[2016-11-23 19:24] slashdotdash commented on #39
Here's a forked version of distillery containing a branch with an additional module in the standard app test fixture with a name exceeding 100 characters.

https://github.com/slashdotdash/distillery/commits/bug/tar-filename-length

This exhibits the tar generation failure.

[2016-11-23 22:57] smpallen99 opened #141 "Error creating release upgrade: Bad instruction: {update,'Elixir.Phoenix.PubSub.PG2',supervisor,[]}"
I have project where:
* Creating initial release on master
* Created branch and did some changes
* Created upgrade version 0.0.2 on branch
* More dev on the branch
* Created upgrade version 0.1.0
* Everything worked so far
* Check out master
* Merge branch
* Create upgrade with `./node_modules/brunch/bin/brunch b -p && MIX_ENV=prod mix do compile, phoenix.digest, release --env=prod --upgrade --ver

[2016-11-26 02:31] 2kodes commented on #7
hello,

Any update on this issue??

[2016-11-27 21:57] pharosproduction commented on #134
I have solved this issue by shuffling applications(6 apps in umbrella) in Mix.Releases.Config. I haven't yet found why some order works and other is not, but looks like it's about dependancies between umbrella apps.

[2016-11-27 22:05] kennyballou commented on #141
I have a suspicion this is easier to reproduce when creating a new release of an application that has supervisor changes, specifically changes to the supervisor tree and its children processes. I see the similar output when attempting to create a release between the [v0.1.0][2] tag and [v0.2.0][3] tag of this [demo][1] application.

[1]: https://github.com/kennyballou/octochat
[2]: https://github.

[2016-11-27 22:38] andreasguther opened #142 "Failed during create_start_clean: :eacces"
### Steps to reproduce

1. Create a new phoenix project following [Up and Running on the Phoenix project site](http://www.phoenixframework.org/docs/up-and-running): `mix phoenix.new hello_phoenix`
1. change directory into the new project folder
1. Add distillery to the dependencies in mix.exs: `{:distillery, "~> 0.10"}`
1. Run `mix deps.get`
1. Run `mix release init`
1. Run `mix release` - You sho

[2016-11-28 05:36] michalmuskala commented on #142
`eaccess` usually means some directory is not writable. Is the `rel` directory writable by the user running the release task?

[2016-11-28 07:42] andreasguther commented on #142
The `rel` directory is writeable by my account. I am running the build manually with my account.
`drwxr-xr-x    5 aguther  staff    170 Nov 27 13:36 rel`

[2016-11-28 11:58] jeroenhouben commented on #74
I've been following this thread and just want to sum up my "key take aways". Please reply if you think they are incorrect.

- OTP apps have really cool hot code upgrade capabilities, which:
  - you probably don't need
  - are not trivial to master
  - require a very different deployment approach than is common these days
  - is not compatible with container based / Heroku style hosting

So if you

[2016-11-28 17:29] OnorioCatenacci commented on #142
1.) Post up what you get when you run `uname -a`.

2.) Is the parent directory of rel writeable by your account as well?  `eaccess` can also refer to the parent directory.

[2016-11-28 18:49] sebastianseilund opened #144 "remote_console fails - Elixir.IEx.CLI undef"
Thanks for Distillery, I love it!

I'm having an issue with connecting to the running app using `remote_console`. `attach` works and `ping` works. I get the following error when using `remote_console`:

[code]

If I `attach` to the app I can see that _it_ does now about `Elixir.IEx.CLI`:

[code]

I tried digging a little into the source code, but can't tell why `IEx.CLI.start` would be undefined.

[2016-11-28 21:28] cheeyeo opened #145 "Hot code upgrade release not picked up for umbrella apps"
### Steps to reproduce

* Create an umbrella app using mix:

[code]

* Within 'apps' folder, create at least 1 OTP app and a second generic app which calls the first

* Compile and make a release in prod env

* Run the compiled product in console mode

* Make a change in one of the apps, compile and make a second release with increased version number

* Try running new code inside previous console

[2016-11-29 06:29] melpon commented on #142
I temporary resolved this issue.
My environment is MacOSX using Homebrew.

[code]

I think it is not proper method.
I hope this will help.

[2016-11-29 06:36] andreasguther commented on #142
@melpon:
[code]
I am at least four levels deep in a development tree that is fully owned by my account, under my home folder.

[2016-11-29 06:52] andreasguther commented on #142
@melpon:
I also use brew and I tried what you suggested with the permissions but that did not help.

[2016-11-29 13:37] OnorioCatenacci commented on #142
All I can suggest is try starting with a brand new clean, minimal phoenix
app and see if you still see the issue.  No doubt there's something about
your particular configuration that's causing this behavior to occur and
until we isolate the cause it's pretty much impossible to figure out what's
going on. Start with a clean, minimal phoenix app and if you don't see the
error then slowly start addin

[2016-11-29 14:51] OnorioCatenacci commented on #142
Andreas,

It might also benefit you if you look at these guidelines on creating a
Minimal, Complete and Verifiable example. http://stackoverflow.com/help/mcve
 Certainly would speed up research on this and get you closer to an answer.
It might be that while creating a MCVE you may find the answer yourself.

oc

On Tue, Nov 29, 2016 at 1:52 AM, Andreas Guther <notifications@github.com>
wrote:

--
O

[2016-11-29 15:06] OnorioCatenacci commented on #142
Ignore that last comment.  The details of this are split between here and
StackOverflow and I didn't recall your note posted on StackOverflow that
you have reproduced this issue with a bare Phoenix install.

You're sure that you're not getting issues from Erlang itself? I see some
notes about running Erlang on MacOSX (Jaguar) here:
erlang.org/download/otp_src_R9C-0.readme You may want to insure th

[2016-11-29 22:19] piotrze commented on #142
@melpon It worked for me for now.

[2016-11-29 23:56] obmarg opened #148 "Difficult to make release without hard coded cookie."
I'm trying to use distillery to build distributable releases of some applications I've made, and ideally I want to upload a .tar.gz to github that anyone can download and and run.

Ideally I'd like to use a cookie stored in `$HOME/.erlang.cookie`, so that users of the app aren't all sharing the same cookie that's publicly available in the repository.  I borrowed the pre-start script from #100 to a

[2016-11-30 15:59] OnorioCatenacci commented on #7
I am working on this; my goal is to get something ready for a PR within the next week or two but this is something I can only work on in my spare time.

[2016-11-30 17:54] tonyvanriet opened #149 "Distinct cookies for dev and prod environments"
When running `mix release.init`, a cookie is generated and used in both the `dev` and `prod` environments in `rel/config.exs`.

Would it make sense to instead generate a distinct cookie for `dev` and `prod` each, to help avoid accidentally connecting a `dev` node to the `prod` cluster? Obviously the node names would be the primary way to avoid this, but I still can't think of a reason *not* to use

[2016-11-30 18:18] tonyvanriet commented on #140
Regarding the warning, in #129, @bitwalker suggests leaving a placeholder cookie value in `rel/config.exs` when using a custom `vm.args` to avoid the need for distillery to parse the custom `vm.args` file.

As for configuring the node name, I found myself looking for that capability as well. If it's not appropriate for this to be a `config.exs` setting, then perhaps overlays can help us get this d

[2016-11-30 23:10] bitwalker commented on #149
Sure, that's an easy change to make and I think it makes good sense to generate distinct cookies. Great suggestion!

[2016-11-30 23:14] bitwalker commented on #74
@jeroenhouben I would agree with those statements, more or less. I would say that hot upgrades are worth looking into if you are building an application where the complexity is a worthwhile tradeoff, but those kind of applications are probably not nearly as common as the average case.

[2016-11-30 23:30] #87 closed

[2016-11-30 23:30] bitwalker commented on #87
Could you all give master a try?

[2016-11-30 23:38] bitwalker commented on #136
I agree with @michalmuskala, Distillery itself will never be a deployment automation tool. There are already a number of third-party tools which integrate with Distillery and handle that portion of it. The goals I have for this project are to make release generation as painless as possible, will still flexible enough to be used with whatever deployment strategy a project requires. Part of that is

[2016-11-30 23:42] bitwalker commented on #140
It's possible to make the base nodename configurable via `config.exs`, though I think it's a better practice to set that in the environment of the target machine in conjunction with `REPLACE_OS_VARS=true`. In any case, I think we can scan the custom `vm.args` and only produce a warning if the cookie is missing in both places, rather than always printing a warning like today.

[2016-11-30 23:44] bitwalker commented on #141
I'll take a look, I suspect that instruction is not valid for supervisors, and a different one is needed.

[2016-11-30 23:48] bitwalker commented on #142
@andreasguther would you mind running this with strace attached and pastebin the log? The last file it attempts to open should tell us what it's trying to load from the filesystem and thus where it's failing.

Before you do that though, could you try with `master` and see if this issue is still present? There are a number of changes between 0.10 and master now.

[2016-11-30 23:50] bitwalker commented on #144
Could you try with `master`? I think the current package on hex is missing some key fixes which may be causing this issue for you. I need to cut a new release soon!

[2016-11-30 23:51] bitwalker commented on #145
How are you deploying the upgrade? Could you walk me through your exact steps?

[2016-11-30 23:59] bitwalker commented on #134
@danturn Just FYI, but your reason for using `included_applications` is actually not what it's for, and in fact is likely to cause more issues than not. `included_applications` is intended only to be used when you are manually controlling the lifecycle for some dependency, and in that case, no other application can depend on it. You shouldn't worry about starting "library" applications, such as `:

[2016-12-01 00:06] dropfen commented on #74
The communication systems which are build on top of OTP, are separated into many small pieces of different functionalities. So, you can upgrade this parts one by one easily. And its very useful to stay always online. But the most of our Apps don't need it, so we can just "replace" the instances like an html file.

But, I definitely see a great potential of this feature also for normal WebApps. Esp

[2016-12-01 00:50] kennyballou commented on #141
It looks [valid][1] to me, but I'm not sure. I haven't tried this manually yet.

[1]: http://erlang.org/doc/design_principles/appup_cookbook.html#id85798

[2016-12-01 01:05] talklittle commented on #141
Distillery is adding a 4th tuple element `[]` for `:update`, not in the cookbook that @kennyballou linked. Is that the bug?

If so then https://github.com/bitwalker/distillery/blob/41e2f8abf53001089aecc6268cea79ef4bc30e93/test/appup_test.exs probably needs to be updated too.

It differs from Exrm's `:update` tuple format too: https://github.com/bitwalker/exrm/blob/417286f13aebb4a19bee39bfdb4cd44b4

[2016-12-01 02:37] kennyballou commented on #141
Yeah, I missed that pattern, I thought the extra `[]` was valid since a supervisor _could_ have dependent modules(?).

[2016-12-01 08:22] schnittchen commented on #136
This is probably a very sane decision for the project.

Should somebody not be able to use hooks for this as described, he/she should open another ticket.

[2016-12-01 08:22] #136 closed

[2016-12-01 12:34] cheeyeo commented on #145
Hi

thanks for the reply. These are my steps for the upgrade deploy:

* Update code base, version number in mix.exs and also increase version number in rel/config.exs

* Build and generate a release:

[code]

* Copy release over to destination directory and run the upgrade command:

[code]

This generates the following response on the terminal:

[code]

Its at this point that the new release is no

[2016-12-01 12:37] cheeyeo commented on #145
Hi,

please also find below the relup file generated for the updated version of the application.

It does not record any of the modules being changed?

[code]

[2016-12-01 17:08] sabondano commented on #59
@isaksky hey man, I'm running into this. Regarding your message above, I'm wondering how you identified the process that needed to be killed. How do I know what process to kill in this case? Thank you! :)

[2016-12-01 17:41] isaksky commented on #59
@sabondano I'm running a phoenix application, so I just looked for the process listening on port X.

 `lsof -i :8080`

If its not listening on a port, you can probably at least narrow it down by looking for processes with command `beam.smp`

`lsof -i`

There is probably a also better way I don't know about.

[2016-12-01 20:22] bitwalker commented on #145
Do you still have the .appup file in the ebin directory of the application which was upgraded? I'd be interested to see what was generated.

I will likely have to reproduce this in order to fix it, if you have something already available that I can clone and work with, that would be helpful, otherwise I'll throw something together as soon as I get a chance.

[2016-12-01 20:37] sebastianseilund commented on #144
Just tried with master on my own machine. Doing the same thing (but using the new default output paths):

[code]

I still get the same error as above:

[code]

[2016-12-01 21:10] bitwalker commented on #144
I just tried with Ubuntu 16.10 (my desktop), and am unable to reproduce this with master and my [distillery-test](https://github.com/bitwalker/distillery-test) project. Could you give that project a try and see if you can reproduce?

[2016-12-01 21:13] #149 closed

[2016-12-01 21:16] bitwalker commented on #141
This is addressed via #150, so I'm closing for now.

[2016-12-01 21:16] #141 closed

[2016-12-01 23:25] obmarg commented on #148
Yeah, good point.  That probably would work.

[2016-12-02 04:21] sabondano commented on #59
@isaksky thank you for explaining! It wasn't the issue I was facing but incase somebody else runs into this my issue was that my application needs an env variable to be set up for it to be able to start. Even though I was setting it manually by login into my host server and setting it, the `mix edeliver start staging` command was using a different process in my staging server (a process without th

[2016-12-02 19:11] sebastianseilund commented on #144
After a lot of trial and error I finally got it to work with master. I _may_ have missed that my deployment script still used the old `rel/name/releases` folder and so used the old code and not the new release built with distillery master :expressionless:

Conclusion: I think whatever the issue was it has been resolved in master. Closing. Thanks for the help!

[2016-12-02 19:11] #144 closed

[2016-12-03 05:01] andreasguther commented on #142
@bitwalker
I will try to use master tomorrow. I do not have strace on Mac but did run ` sudo filebyproc.d` to capture opened files. I grep'd for everything with beam and got over 6000 lines of code. Not sure if it makes sense to past all that to pastebin.

The last few entries are the following.
[code]

[2016-12-03 05:08] andreasguther commented on #142
@OnorioCatenacci: Thank you for taking your time and providing suggestions. I can run my application without problem with my current environment. I also run other applications from other projects with the same configuration. It is with distillery that I see the problem. I tried to collect all the information about reproducing including creating the minimal project in the initial description. I und

[2016-12-03 17:54] andreasguther commented on #142
I just change my configuration to point to distillery master and could then build release for both the basic phoenix and my project.

[2016-12-03 17:54] #142 closed

[2016-12-04 02:24] clessg commented on #25
This is a pretty confusing issue to run into when following the Walkthrough's [Building your release](https://hexdocs.pm/distillery/walkthrough.html#building-your-release) section. It tells you to just run `mix release`, and then this error shows up.

[2016-12-07 17:00] AndrewDryga commented on #118
Another one:
[code]

[2016-12-07 21:45] AndrewDryga commented on #118
It seems that this is not Distillery's fault, rather unexpected (for me) behaviour of transient supervisor.

[2016-12-07 21:45] #118 closed

[2016-12-08 11:31] minhajuddin opened #159 "A release name other than the app_name doesn't start all the applications"
### Steps to reproduce

Change the `rel/config.exs` to

[code]
Build the project using `MIX_ENV=staging mix release --verbose`

Now, when I run `_build/staging/rel/foo_server_staging/bin/foo_server_staging foreground` it doesn't start the phoenix app or the other apps.

### Verbose Logs
[code]

### Description of issue

I expected it to start all the appslications, However, it doesn't start any. C

[2016-12-08 13:06] clessg opened #160 "Successive hot upgrade releases produce error"
### Steps to reproduce

Assuming an app named `blog` at version `0.0.1`...

* `MIX_ENV=prod mix release --env=prod`
* `PORT=4000 _build/prod/rel/blog/bin/blog start`
* Bump version to `0.0.2`.
* `MIX_ENV=prod mix release --env=prod --upgrade`
* `_build/prod/rel/blog/bin/blog upgrade '0.0.2'`
* Bump version to `0.0.3`.
* `MIX_ENV=prod mix release --env=prod --upgrade`

Am I doing something wrong? T

[2016-12-08 14:39] shribe commented on #37
FYI, that bit me this morning... Really wondering if it and/or brief comment shouldn't be generated into prod.exs?

[2016-12-08 16:02] danturn commented on #7
Hi Onario, if there is anything i can help with let me know as this would be really useful for us too

[2016-12-08 16:53] aphillipo commented on #37
Maybe someone should create a phoenix pull request for this...

[2016-12-08 17:08] michalmuskala commented on #37
The phoenix generator already does this since 2 years https://github.com/phoenixframework/phoenix/blob/master/installer/templates/new/config/prod.exs#L47-L58

[2016-12-10 14:05] ontofractal commented on #134
Sharing this to help others solve this issue easier.

Got the same error with :websocket_client, fixed by moving it to the end of the :applications list. Got the error again after adding some applications and solved again by moving :distillery to the `-2` position in the :applications list.

My working config looks like this.
`
   def application do
    # FIXME If you move :distillery or :websocke

[2016-12-12 11:14] spscream opened #162 "Running command from pre start hooks is causing infinite loop"
I'm using pre start hooks to run migration tasks, which runs as command:
[code]
but this commit causes my command to infinite loop in call:
https://github.com/bitwalker/distillery/commit/399db8ad8cad36c142532b1d4757452479c2bca9

so master is broken for me

@martin-langhoff, also look on this.

[2016-12-12 13:00] martin-langhoff commented on #162
Sad to hear a patch of mine broke distillery for you.

@bitwalker, two possible solutions come to mind

* make a separate hook dir for `command`, will require matching changes in
conform
* make the original commandline visible to the sourced hooks, so they can
peek at it, and run conditionally

thoughts?

On Mon, Dec 12, 2016 at 6:14 AM, Alexander Malaev <notifications@github.com>
wrote:

--
 mart

[2016-12-12 20:06] cheeyeo commented on #145
There is no .appup file generated after running the build process:

[code]

Have I missed a step?

[2016-12-12 23:14] bitwalker commented on #162
Seems to me that we probably want a different "pre" event for commands, since running commands does not really imply "starting" anything. Not really sure what to call it though. In my mind, running any kind of setup for a command should really be part of the command itself, which would leave these kinds of details up to the author of the command, but then makes it complicated to share commands bec

[2016-12-13 13:02] petrikero opened #165 "Shutting down Distillery-based program under systemd/docker terminates abruptly instead of waiting for cleanup to complete."
I created a docker image with Distillery and edib, which is run as a systemd service. When shutting down the systemd service, the Elixir program is terminated abruptly instead of waiting for it to clean up properly.

Root cause for this seems to be in the signal handler in boot_loader.eex, _cleanup() copy-pasted below. The RPC to :init.stop() returns immediately, which in combination with the usag

[2016-12-13 17:23] bitwalker commented on #165
I would prefer to ensure that the cleanup task blocks until the node has shut down completely, if you are interested in tackling that in the form of a PR, I'd be happy to merge it!

[2016-12-13 17:25] bitwalker commented on #134
@ontofractal you don't need distillery in your applications list, it's build-time only :)

[2016-12-13 17:54] #134 closed

[2016-12-14 09:27] petrikero commented on #165
I'd be happy to take a shot! I'll be traveling for the next ten days, so it won't happen immediately, though.

[2016-12-14 16:46] martin-langhoff commented on #162
I'm ok if you revert this, and we can look into a better approach with more time.

While I can frob things to work for my use case & codebase, I think it's important to give distillery users a straightforward path to run some of their mix tasks in a release, with clearly-defined caveats and limitations. `command` seemed to be the way. If we instead say "build a custom command under `/bin`, which m

[2016-12-14 18:14] bitwalker commented on #162
My thought was that they would just need to define a shell script to do what they want to do and define the command in their config. In theory, they don't need to understand anything of `boot.eex` for that to work. In any case, the "public API" of `boot.eex` is documented on hexdocs, so for more complex scenarios, the bits they do need to grok are not as opaque as `boot.eex` itself. This could be

[2016-12-14 19:49] #165 closed

[2016-12-14 19:49] bitwalker commented on #165
It's all good, I've gone ahead and fixed it :)

[2016-12-15 00:37] bitwalker commented on #145
@cheeyeo You need to run `MIX_ENV=prod mix release --env=prod --upgrade`, which tells Distillery to generate the release as an upgrade. Without `--upgrade` the release will be considered "standalone", no appups will be generated.

[2016-12-15 00:47] bitwalker commented on #160
I'm unable to reproduce this with master, could you give that a shot? If it works, I'll cut a bugfix release.

[2016-12-15 06:41] minhajuddin commented on #159
I was using releases to get multiple instances of the same app running on the same server. One for staging and one for sandbox. `epmd` complains if you try to start a second app with the same name on the same server. I thought a release was a good way to create different named nodes. Hence the problem.

However, I've found a workaround using the `erl_opts` setting in the environments (which should

[2016-12-15 12:39] minhajuddin commented on #159
I may have jumped the gun with the above workaround. I am not able to stop the currently running app using the above strategy. Not sure what the problem is. Would love to hear your input @bitwalker

[2016-12-15 16:13] GalaxyGorilla commented on #159
I ran into the same issue today. I wanted to generate two releases with different config files. When you chose a release configuration name other than the application name then the application plus dependencies are not started.

[2016-12-15 19:40] bitwalker commented on #159
@minhajuddin @GalaxyGorilla The solution here is to provide this configuration via `vm.args`. You can provide your own by setting the path to load your own vm.args with `set vm_args: "path/to/vm.args"` under an environment or release definition. In short it would look something like this:

## rel/vm.args.staging
[code]

## rel/vm.args.sandbox
[code]

## rel/config.exs

[code]

[2016-12-15 21:24] GalaxyGorilla commented on #159
@bitwalker many thanks for this detailed description :) I think we could solve our problems with this.

However, I think the real problem stays the same: It is not possible to use `release` configurations (besides the one with the app name). I did some tracing today and found myself back in the configuration parser (the assembler looks ok) but I ran out of time. Tomorrow I will work on it further.

[2016-12-15 21:42] bitwalker commented on #159
You use Mix environments to generate configs conditionally, i.e. `MIX_ENV=staging mix release`. If you create a release that does not have the same name as your application, then you need to provide an applications list in the release definition, e.g.:

[code]

Distillery infers the applications to include in the release by either loading the applications list of the application which shares the n

[2016-12-15 21:54] GalaxyGorilla commented on #159
Ah thanks for the hint! I was definitely not aware of the relation between the release definition name and the application name. I will try this tomorrow!

[2016-12-16 10:42] minhajuddin commented on #159
Thanks for the response @bitwalker

I tried your suggestion by creating a `vm.args.staging` file, I was able to start the app properly but once it was started, I wasn't able to ping or stop it. Changing the vm.args to use `-name foo_server_staging@127.0.0.1` did the trick. Not sure why it isn't working with just the `-sname`. One thing that I did note was calling `DEBUG_BOOT=true bin/foo_server` s

[2016-12-16 10:44] #159 closed

[2016-12-18 07:26] michelson opened #169 "vm.args not passed into build vm.args"
it seems that rel/vm.args are not generating vm.args on release

given an umbrella app I just set some options in rel/vm.args file.

[code]

but none of these options are passed into /_build/prod/rel/my_umbrella/releases/0.1.0/vm.args
is there a way to pass some advanced options like system limits +P from vm.args or from rel/config.exs?

best regards

[2016-12-18 19:45] bitwalker commented on #169
You need to put `set vm_args: "rel/vm.args"` in `rel/config.exs` under the release or environment configuration in order for it to be used. If you are coming from exrm, I strongly recommend reviewing the docs, as there are several differences in how distillery works.

[2016-12-18 19:45] #169 closed

[2016-12-19 08:12] GalaxyGorilla opened #170 "About the use of the `prod` environment"
This is really more a general question about distillery ... The documentation states that

[code]

and so I asked myself what this special part with optimized BEAMs is about. What's the big difference to e.g. the dev environment here?

[2016-12-19 08:46] michelson commented on #169
thanks! it works

[2016-12-19 17:32] bitwalker commented on #170
I probably could've phrased that better - but what I was referring to was protocol consolidation, although it's possible that now happens regardless of build environment (I think that's only true if `build_embedded: true`), at one point protocol consolidation was only done for `prod`. Running your app without consolidated protocols will be far slower than with consolidation.

[2016-12-19 17:32] #170 closed

[2016-12-20 04:33] bitwalker commented on #25
@clessg That's a good point, there are actually Phoenix-specific walkthroughs, but after skimming them, they do not explicitly identify this as something to be aware of. I'll make sure they get updated to mention this.

[2016-12-20 04:41] bitwalker commented on #142
@andreasguther A new release was published since your last message, so you can switch to that rather than pointing to master :)

[2016-12-22 13:28] GalaxyGorilla opened #171 "Accessing modules from within conform schema does not work"
Hey, I am currently switching from exrm to distillery in my stack. Since I use some more complicated transformations in my schema file I 'outsourced' it to some modules in my application. However, in opposite to exrm those modules are not available using distillery. The error I get is `UndefinedFunctionError` because `module XY is not available`.

Not sure if this is even the right place for this

[2016-12-22 21:24] JamesLavin commented on #160
First, Paul, THANK YOU for creating and sharing all these great tools! I'm getting started with Elixir and am very lucky to have access to such amazing OSS.

I did exactly the same thing as Chris, with exactly the same results. Version 0.0.1 worked fine. Hot upgrading to version 0.0.2 worked great. But I couldn't build an upgrade version after bumping my app to version 0.0.3.

I'm on a Mac with Di

[2016-12-22 22:01] JamesLavin commented on #160
I think I see the bug:

The error message is saying it can't find:
```_build/prod/rel/phoenix_env_settings/releases/phoenix_env_settings.rel/phoenix_env_settings.rel```

I think it should be looking for this file, which exists:
```_build/prod/rel/phoenix_env_settings/releases/phoenix_env_settings.rel```

It added an extra `/phoenix_env_settings.rel`

[2016-12-23 13:57] JamesLavin commented on #160
@clessg The error message you posted says "Missing .rel for blog:blog.rel at _build/prod/rel/blog/releases/blog.rel/blog.rel". I'm betting you have a file at _build/prod/rel/blog/releases/blog.rel but not at _build/prod/rel/blog/releases/blog.rel/blog.rel. Could you please confirm this?

[2016-12-23 16:13] clessg commented on #160
@JamesLavin Yep, that is correct!

[2016-12-23 19:43] bitwalker commented on #160
@JamesLavin Thanks for the the test case, and the kind words! I'll take a look as soon as possible.

[2016-12-23 19:46] bitwalker commented on #171
I suspect this is due to distillery explicitly setting the code paths to use, definitely fixable, just have to figure out the best way to do that. I'll look into it ASAP

[2016-12-24 02:08] JamesLavin commented on #160
@bitwalker No rush! Please enjoy the holidays! This can definitely wait till the new year.

[2016-12-27 22:30] bryanstearns opened #173 "Upgrade permissions problem was hard to diagnose"
There might not be anything distillery can do about this, but it stymied me for longer than I'd like to admit, and @bitwalker suggested I write it up...

### Steps to reproduce

With an existing deploy of version 0.0.0 running in `/app` as the `daemon` user, follow the instructions for deploying an upgrade, but run it as `root`: create a new version directory (eg `/app/releases/0.0.1`) and copy th

[2016-12-29 20:01] sorliem commented on #160
@clessg I'm having the same issue. I went through the same scenario with an app called `kv`:

* make a release at 0.1.0 and start it
* make an upgrade from 0.1.0 -> 0.2.0
* apply upgrade to 0.2.0, no problem
* make an upgrade from 0.2.0 -> 0.3.0, error your are seeing

However, I noticed that the `kv.rel` after _applying_ the 0.2.0 upgrade _moved_ from the `releases/0.2.0` directory up one level i

[2016-12-30 19:30] jesseshieh commented on #148
I did the following which seems to work for me: `set cookie: :"${MY_COOKIE}"`.
Then when starting the app, set `MY_COOKIE=foo REPLACE_OS_VARS=true bin/web console`.
You can verify once you get an IEx prompt by typing `Node.get_cookie`

[2016-12-30 20:33] jesseshieh commented on #140
I notice in vm.args that the node basename is configurable, but the host is not. Is it normal to keep the host as 127.0.0.1 or is there a way to configure the host in a distributed production system?

[2016-12-30 21:19] bitwalker commented on #140
You can provide your own `vm.args` and set `-name` to whatever value you would like. `127.0.0.1` is just a safe default value (as you may not want the node to be reachable from other hosts). The key is that the host needs to be resolvable (a "fake" hostname will work as long as you don't try to connect to the node from any other nodes, but will fail if you do).

[2017-01-02 12:04] mkrogemann opened #174 "Phoenix Walkthrough: brunch responds with `error: unknown option `-P'`"
### Steps to reproduce

Follow the Phoenix Walkthrough

### Description of issue

When you try to do the release, using the following combination of commands, you receive the error message `error: unknown option `-P'`

`./node_modules/brunch/bin/brunch b -P && MIX_ENV=prod mix do phoenix.digest, release --env=prod`

This is due to the fact that brunch switched the roles of -p and -P with version 2

[2017-01-03 04:45] #174 closed

[2017-01-03 12:03] spscream commented on #162
@bitwalker I'm closing this issue, since broken parts were reverted and all is working as expected now.

[2017-01-03 12:03] #162 closed

[2017-01-05 10:48] GalaxyGorilla commented on #171
Hi @bitwalker ! Is there any progress? Sorry for asking so impatiently but this seems to be really the only thing (that I know of) that prevents me from switching to distillery :3.

[2017-01-05 11:19] walkr opened #177 "Starting a released Phoenix app fails"
I'm testing distillery and I was trying to create a release for a new Phoenix project.

### Steps to reproduce

[code]

However, the release fails to start.

[code]

Any thoughts?

Thanks!

[2017-01-05 13:36] carusso commented on #7
This is the one thing feature missing from Distillery that still has me using ExRM.  I don't have the Windows background to do much with this, but I'd be happy to test.

[2017-01-05 14:31] OnorioCatenacci commented on #7
I'm (still) working on this.  I've learned better than to say when I expect
to have something ready to test but I am making progress and when the time
comes I'm sure Paul will let you (among others) know so the code will get
thoroughly tested.

On Thu, Jan 5, 2017 at 8:36 AM, Chris R <notifications@github.com> wrote:

--
Onorio Catenacci

http://onor.io
http://www.google.com/+OnorioCatenacci

[2017-01-05 18:07] Hermanverschooten commented on #177
The code_reloader in Phoenix depends on Mix which is not packaged in your release.
Try packaging for prod environment, that will work, if you do not forget to set `server: true` in your prod.exs.

[2017-01-05 19:34] bitwalker commented on #7
@carusso I was donated a copy of Windows to help work on this, but I haven't yet had the time to dedicate to it. I'm hoping to do so soon, but in the meantime @OnorioCatenacci has been pitching in and doing a lot of work in that area. If anyone is comfortable in powershell/batch script, and wants to help, ping either Onorio or myself to find out what needs doing.

[2017-01-05 20:01] walkr commented on #177
Indeed, it works now. Thank you!

[2017-01-05 20:01] #177 closed

[2017-01-07 12:37] abderrahmaneayad opened #178 "The release does not start"
First thank you for this awesome project,

I'm using qrcode library that is does work in the dev environment, but when I added it's name to the applications in the mix.exs file it shows this error in the console command :

[code]

mix.exs file:

[code]

[2017-01-09 17:41] tgodfrey commented on #25
I found that using `mix release --env=prod`, I was still getting the error above. I was getting both `_build/dev`, and `_build/prod`, and the instructions at the end said to run the release from `_build_dev`.

Using `MIX_ENV=prod mix release --env=prod`, I was able to get a clean prod release, which works like a charm.

Distillery is a godsend, BTW. Much easier to use, IMHO, than exrm. Thanks for

[2017-01-10 17:49] GalaxyGorilla commented on #171
Setting `include_erts` to `true` in the environment fixes this issue even though I don't know why :/

[2017-01-10 22:00] bitwalker commented on #178
The `qrcode` .app file is improperly defined. It defines an application callback module (via `{mod, {qrcode, []}}`), but doesn't actually implement the application behaviour/callbacks in the qrcode module. I suspect this is because `qrcode` doesn't actually need to be an OTP application, but just a library application (i.e. it doesn't start a supervisor tree). You can simply remove the `{mod, {qrc

[2017-01-10 22:00] #178 closed

[2017-01-10 22:02] bitwalker commented on #148
That's the approach I use as well :)

[2017-01-10 22:02] #148 closed

[2017-01-10 22:06] bitwalker commented on #171
The main difference between `include_erts: true | path` vs `include_erts: false` is that in the latter case, ERTS is detected and code paths to the required ERTS libs are based on the detected ERTS path. The only time there would be an issue is if the .beam files in the release were compiled on a different version of Erlang, or if the detected ERTS was missing applications required by the release.

[2017-01-11 10:45] GalaxyGorilla commented on #171
Sure, I created some minimal repo to reproduce this. See [HERE](https://github.com/GalaxyGorilla/distillery_test). There is some description on reproducing the errors in the README.

[2017-01-13 23:41] jarra-mcintyre opened #182 "Loading plugins when executing a command"
I'm using Conform+Distillery (great work on them btw!) for an umbrella app which accesses a Postgresql DB. The DB connection string .etc. is stored in my .conf file.

I initially followed the Distillery guide for setting up a migration command for running in production. However, this does not work, as it seems that Distillery does not load plugins when executing commands (i.e. running ./bin/myapp

[2017-01-14 14:45] jeramyRR opened #183 "Compiler warnings in Elixir 1.4.0 expanding optional parens"
### Steps to reproduce

* Cloned a new nerves_examples repo from https://github.com/nerves-project/nerves-examples.git
* cd nerves-examples/blinky
* mix deps.get
* mix nerves.release.init

### Verbose Logs

~/dev/elixir/nerves/nerves-examples/blinky|master
⇒ mix nerves.release.init --verbose
==> distillery
Compiling 17 files (.ex)
warning: variable "get_cookie" does not exist and is being expanded

[2017-01-14 14:53] jeramyRR commented on #183
Please disregard this issue.

[2017-01-14 14:53] #183 closed

[2017-01-15 04:40] 1zaak opened #185 "Cannot add file sys.config to tar file, `mix release --env=prod` fails"
My setup is based on [these steps.](https://dennisreimann.de/articles/phoenix-deployment-gatling-ubuntu-digital-ocean.html?utm_source=elixirdigest&utm_medium=email&utm_campaign=featured)

After setting up everything based on the steps above, i ran `npm install` and proceed to run all 3 commands from the [Building The Release](https://hexdocs.pm/distillery/use-with-phoenix.html#building-your-releas

[2017-01-15 20:01] bitwalker commented on #185
I suspect the problem is that your `config.exs` contains a function capture somewhere. Could you verify if that's the case? If you are unsure, feel free to paste the config here (with anything sensitive elided), and I can take a look.

[2017-01-15 23:30] bitwalker commented on #182
The problem you encountered is due to a couple things which probably need to be documented better:

- Using the `command` task runs the VM with a minimal environment - only `kernel`, `stdlib`, `compiler`, `elixir`, and `iex` are loaded/started. The code path is populated with paths to all the other applications in the release, but they are not loaded/started, you must explicitly do so with `Applic

[2017-01-16 00:28] jarra-mcintyre commented on #182
Hi, thanks for the quick response. When I get the chance I'm going to try porting over the conform pre-start script to generate a sys.config file and then pass the path to my migration task so I can load it.

Once I get that done, I'd be happy to update the documentation and send a pull request :)

[2017-01-16 19:47] walkr opened #186 "Systemd script error "vm.args needs to have either -name or -sname parameter.""
Hello,

I'm trying to setup a systemd script for a release on Ubuntu, but it fails when trying to start the service, with the following error:
`vm.args needs to have either -name or -sname parameter.`

This is my script file:

[code]

Any thoughts?

Thank you much!

[2017-01-16 20:40] walkr commented on #186
I found the problem.
`RemainAfterExit=yes` must be set in the script.

Here's the final systemd script:

[code]

[2017-01-16 21:26] bitwalker commented on #186
Nice find, I'll find a place in the docs for this!

[2017-01-16 21:26] #186 closed

[2017-01-16 22:44] walkr commented on #186
Thanks @bitwalker

In that case, then you can also add a link to this article if you want or use bits from it to better explain in the documentation what's going on: http://mfeckie.github.io/Phoenix-In-Production-With-Systemd/

[2017-01-16 23:31] bitwalker commented on #186
Definitely :)

[2017-01-17 14:55] zhaohansprt opened #187 "the feature Dynamic Configuration :"export RELX_REPLACE_OS_VARS=true ....." descripted in rebar3.org doesn't work"
### Steps to reproduce
Just a brief list of the steps required to produce the issue.

my  boot.sh  work well with the master branch of exrm

[code]

### Verbose Logs

Paste the output of the release command you ran with the `--verbose` flag.

[code]

### Description of issue

- What are the expected results?      i cant batch spawn nodes from the same rel repo as well as exrm can do
- What OS, Erl

[2017-01-19 21:00] bitwalker commented on #187
Please read the documentation, this option is implemented as `REPLACE_OS_VARS=true` in Distillery.

[2017-01-19 21:00] #187 closed

[2017-01-20 03:28] zhaohansprt commented on #187
ok  i got it

[2017-01-20 19:38] tonyvanriet opened #190 "Why use applications: for run-time dependencies?"
I understand that all run-time dependencies need to be declared in the mixfile `applications:` list in order to be included in the release package. I see some people that have been tripped up by not adding simple library applications to this list. I'm hoping to better understand why Distillery uses the mixfile `applications:` as opposed to some of the alternatives. Sorry if this question has alrea

[2017-01-20 19:53] bitwalker commented on #190
Up until Elixir 1.4, we couldn't use the dependencies list because some things which we don't want in the release package must be dependencies in the environment used to build the release - basically, any build-time tools (distillery itself is such an example, it has to be present when `MIX_ENV=prod`, even though it's not a runtime dependency). As of Elixir 1.4, there is now the `:runtime` option

[2017-01-20 19:53] #190 closed

[2017-01-20 20:07] tonyvanriet commented on #190
I can understand the reluctance to use the build-time dependencies list.

For the sake of argument, say my app has some non-start/stoppable library application in its `deps` that is not included in `applications:`. If Distillery *did* use `deps`, thereby including this in the release package, would it cause some other runtime problem down the line because the library is not listed in the `.app` fi

[2017-01-20 20:13] tonyvanriet commented on #190
This [SO Answer](http://stackoverflow.com/a/36249692/286370) seems to be alluding to Erlang using this `applications` list to drive module loading in addition to OTP application startup, though I haven't found anything yet to back. that up in the docs.

[2017-01-20 20:29] bitwalker commented on #190
Distillery when it supports adding things from the deps list, will add them to the applications list with a start type of `:load`. In other words, it will be in the `.app` file, just not with a type that will cause it to be started.

A better reference for how releases are constructed can be found [here](http://erlang.org/doc/design_principles/release_structure.html). The `.app` file is used to de

[2017-01-24 00:52] bradleyd opened #191 "What are the correct steps to NOT include erts in a release for production"
### Steps to reproduce

`MIX_ENV=prod mix release --env=prod --verbose`

[code]

### config.exs
[code]

### Verbose Logs

[code]
### Description of issue

We are trying to build a release for another host which already has erts installed via Rabbitmq.  We are trying to avoid the size of a release if we can.  Is there any steps we are not doing correctly?

Thanks

[2017-01-24 01:00] bitwalker commented on #191
You need to compile your app using the same version of Erlang you are deploying to - the `.beam` files are compiled, and they must be executed by a compatible runtime. Unfortunately Erlang's error reporting for these types of errors is really poor. Can you confirm whether or not this is the problem?

[2017-01-24 03:19] bradleyd commented on #191
Thanks for responding.  I will try the same.  I think they are 18.1 vs 18.3

[2017-01-24 04:27] bradleyd commented on #191
Ok, so I created a temp project and built a release using a docker elixir image.  Then took that release (with include_erts = false) and ran that image again with that new release.  The application starts up fine.  I feel pretty good that is the issue.

Thanks for the help

[2017-01-24 04:46] bitwalker commented on #191
Yeah I've added a warning which should make it clear that this is something to look out for, sorry you got bit by it!

[2017-01-24 04:46] #191 closed

[2017-01-24 14:58] bradleyd commented on #191
Thank you!

[2017-01-25 00:51] bitwalker commented on #39
After some research while attempting to put together a PR, I've found the following:

- Due to the way GNU tar is implemented, we have a hard limit on the filename component of the path being 100 bytes long. See [here](https://www.gnu.org/software/tar/manual/html_section/tar_68.html) for more information, I'll touch on the gist below.
- The total path (which is relative) can be 255 bytes long, but

[2017-01-25 01:36] bitwalker commented on #39
PR for the error handling fixes [here](https://github.com/erlang/otp/pull/1316)

[2017-01-25 11:16] josevalim commented on #39
@bitwalker I attempted to fix erl_tar and then all of the points you described above were pointed out to me: https://github.com/erlang/otp/pull/1268 :D

I believe the OTP team will welcome better error messages on erl_tar. They will probably welcome using something like `zlib` on `systools` as well. I assume we can detact which lib to use based on the file extension? If you need help with figuring

[2017-01-25 16:02] martin-langhoff commented on #39
Perhaps erl_tar can be taught to write posix tar format instead of ustar? See https://www.gnu.org/software/tar/manual/html_section/tar_68.html

[2017-01-25 16:32] bitwalker commented on #39
@josevalim I'm planning to investigate @martin-langhoff's suggestion of supporting the newer (and now standard) posix format, as it didn't exist at the time erl_tar was written/last updated, but I also have a PR (mostly complete) adding support for zipped releases, but I hit a snag there, and am still deciding whether to press on there, or just make sure erl_tar is updated. I kind of favor the lat

[2017-01-26 13:17] GildedHonour opened #193 "Please rerun with RELEASE_VERSION=x environment variable set."
When deploying with edeliver, this error occurs.

	Detected several releases:
	 A
	 remote
	 command
	 failed
	 on:
	 my_user@11.22.33.44
	 Output
	 of
	 the
	 command
	 is
	 shown
	 above
	 if
	 the
	basename: unrecognized option '--verbose'
	Try 'basename --help' for more information.

	 option
	 was
	 used
	 and
	 the
	 commands
	 executed
	 on
	 that
	 remote
	 host
	 are
	 printed
	 below
	 f

[2017-01-27 17:06] bitwalker commented on #193
As best I can tell this is an issue with edeliver - I don't see anything in the error you pasted which is Distillery related. Sorry I can't be of more help :(

[2017-01-27 17:06] #193 closed

[2017-01-27 20:47] nhjk opened #195 "Auto yes option"
It might be helpful if when running mix release there was an option (-y) to automatically answer yes to things such as installing hex and rebar.

The use case I have in mind is using docker to build linux releases on macOS. I use the following one liner:

[code]

There are a number of easy workarounds, but this with an added -y (or --auto-yes, etc) seems like a clean way to do linux releases on ot

[2017-01-30 11:14] spscream commented on #182
@bitwalker I think there is related issue with conform, it overwrites custom sys.config file:
https://github.com/bitwalker/conform/issues/108

[2017-01-30 16:15] GalaxyGorilla commented on #182
@jarra-mcintyre I just stumbled upon this issue. It would be really nice to have conform and distillery working together with `command`, especially for migrations. Did you figure out some good way to do this using the conform release plugin somehow?

[2017-02-01 16:30] lessless opened #197 "Error in sys.config: configuration file must contain ONE list ended by <dot>"
### Steps to reproduce

- Create an umbrella app with two child applications: phoenix  app and supervised mix app
- Setup distillery
- Setup deliver

Each second deploy will fail (I wish I would know how to reproduce, actually)
### Verbose Logs

`mix edeliver update staging --start-deploy --branch=master --verbose`

https://gist.github.com/lessless/8b73d75cd84660b8a7e58e6230f7b8f6

### Description

[2017-02-01 21:25] dbulic commented on #197
I believe this is related: https://elixirforum.com/t/edeliver-wont-start-project-at-production/2818/8

[2017-02-02 02:08] bitwalker commented on #197
Can you isolate this issue to just distillery? I'm unfamiliar with edeliver's inner workings, and Distillery shouldn't ever produce invalid `sys.config` files, so I'm skeptical that this is a problem caused by Distillery and not by edeliver - that said, if you can provide me a reproducible case without edeliver, I'll be glad to dig in.

[2017-02-02 02:21] bitwalker commented on #182
@GalaxyGorilla Just FYI, I'll be working on sorting out the conform/distillery integration issues starting this week. I'll update the relevant issues in both repos as they are handled.

[2017-02-02 04:19] lessless commented on #197
Hello Paul,

according to the link above it's an edeliver issue

On Thu, Feb 2, 2017 at 9:08 AM, Paul Schoenfelder <notifications@github.com>
wrote:

[2017-02-02 06:37] dbulic commented on #197
@lessless, can you post that to edeliver's issue list?

[2017-02-02 21:30] arnodirlam opened #198 "Failed to build upgrade after removing dependency"
### Steps to reproduce

- Build a release (or upgrade) with dependency X (here: confex)
- Remove the dependency
- git commit
- `mix edeliver upgrade production --branch=master --verbose --skip-mix-clean`

### Verbose Logs

[code]

### Description of issue
Build system is Ubuntu 16.04, Elixir v1.4.0

[code]

#### config

comments and cookies removed.

[code]